<p>Change step to</p>
<p><button class="btn btn-danger btn-sm" {{action "stepDown"}}>-</button> {{input type="number" value=step class="modal-input"}} <button class="btn btn-danger btn-sm" {{action "stepUp"}}>+</button></p>
<button {{action "dismiss"}} class="done btn btn-sm btn-danger">Dismiss</button>
<button {{action "change"}} class="change btn btn-sm btn-success">Change&Save</button>
