<div class="modal-content ">
  <div class="modal-header">
    <button type="button" class="close" {{action dismiss}} aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h6 class="modal-title">Completing the Call</h6>
    <h4 class="modal-title">Client Name: {{task.contact.name}}</h4>
  </div>
  <div class="modal-body ">
    <form class="form">
      <div class="form-group">
        <label>OUTCOME: </label>
        {{ember-selectize content=task.taskType.outcomes selection=labelField optionValuePath="content"
                          optionLabelPath="content" placeholder="-- select an outcome --"
                          select-value=(action selectOutcome 'selectedOutcome')}}
      </div>
      <div class="form-group">
        <label>NOTE: </label>
        {{textarea name="noteContentModal" value=noteContentModal class="form-control" rows="4" focus-out="updateTmpContent"}}
      </div>

    </form>
  </div>
  <div class="row modal-footer">
    <div class="col-sm-8">
      <button type="button" class="btn btn-default btn-block" {{action dismiss}}>Close without complete call</button>
    </div>
    <div class="col-sm-4">
      <button type="submit" class="btn btn-success btn-block" {{action complete noteContentModal}}>Complete</button>
    </div>
  </div>
</div>
