<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close"  {{action "dismiss"}} aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Complete task with note</h4>
  </div>
  <div class="modal-body">
	<form class="form" {{action "newNote" on="submit"}}>
	  <div class="form-group">
	   {{textarea value=noteContent class="form-control" rows="8"}}
	  </div>
	 <button type="button" class="btn btn-primary btn-lg btn-block" {{action "complete"}}>Complete Task and Save Note</button>
	</form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default"  {{action "dismiss"}}>Close</button>
  </div>
</div><!-- /.modal-content -->
