<div class="table-full">
  <ul class="nav nav-bordered m-y" role="tablist">
    <li class="active" role="presentation">
      <a href="#contactLog" role="tab" data-toggle="tab" aria-controls="contactLog">Contact log</a>
    </li>
    <li role="presentation">
      <a href="#emailLog" role="tab" data-toggle="tab" aria-controls="emailLog">Email Log</a>
    </li>
  </ul>
  <div class="tab-content content-block-tab">
    <div role="tabpanel" class="tab-pane active" id="contactLog">
      <div class="table-responsive">
        <table class="table" data-sort="table">
          <thead>
          <tr>
            <th class="header">Type/Date</th>
            <th class="header">Topic</th>
          </tr>
          </thead>
          <tbody>
          {{#if model.contactLogs.content.isLoaded}}
            {{#each model.contactLogs as |contactLogs|}}
              <tr>
                <td><label class="label label-info">{{contactLogs.translated}} </label>
                  <br/>{{moment-format contactLogs.date}}</td>
                <td>{{contactLogs.topic}}<br>
                  {{#if contactLogs.resource}}
                    <iframe class="iframe__dotted" srcdoc={{contactLogs.resource}} width="100%"></iframe>
                  {{/if}}
                </td>
              </tr>
            {{/each}}

          {{else}}
            <tr class="padding-200">
              <td colspan="3"> {{ember-spinner}}</td>
            </tr>
          {{/if}}
          </tbody>
        </table>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="emailLog">
      {{email-logs contactable_id=model.id}}
    </div>
  </div>
</div>
{{outlet}}
