<div class="col-sm-3">
  <div class="thumbnail">
    <h3 class="text-center">{{title}}</h3>

    <img src="{{thumbnailUrl}}" alt="{{title}}">
    <div class="caption">
      <p><i class="icon icon-clock"></i> Time: <strong>{{time}}</strong></p>
      <p><i class="icon icon-user"></i> Password: <strong>{{password}}</strong></p>
      <p><a href="{{download}}" class="btn btn-primary btn-block" target="_blank" role="button">Click to
        Download</a></p>
    </div>
  </div>
</div>
{{yield}}
