<div class="modal-header">
  <button {{action 'cancel'}} type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{{contact.name}}</h4>
</div>
<div class="modal-body">
  <div class="form-group row">
    <div class="col-sm-4">
      <label class="control-label">Phone</label>
    </div>
    <div class="col-sm-8">
      {{input value=contact.homePhone type="text" class="form-control"}}
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-4">
      <label class="control-label">Skype ID</label>
    </div>
    <div class="col-sm-8">
      {{input value=contact.skypeId type="text" class="form-control"}}
    </div>
  </div>
</div>
<div class="modal-actions">
  <button {{action 'cancel'}} type="button" class="btn-link modal-action" data-dismiss="modal">
    Cancel
  </button>
  <button {{action 'update' contact.homePhone contact.skypeId}} type="button" class="btn-link modal-action" data-dismiss="modal">
    <strong>Update</strong>
  </button>
</div>
{{yield}}
