<div class="modal-content modal-smaller">
  <div class="modal-header">
    <button type="button" class="close" {{action dismiss}} aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">CALL DETAILS ({{task.id}})</h4>
  </div>
  <div class="modal-body ">
    <dl>
      <dt>Date Due:</dt>
      <dd>{{moment-format task.dateDue 'MMM Do YY'}}&nbsp;</dd>
      <dt>Subject:</dt>
      <dd>{{task.subject}}&nbsp;</dd>
      <dt>Client:</dt>
      <dd>{{task.contact.name}}&nbsp;</dd>
      <dt>Step:</dt>
      <dd>{{or task.contact.step 0}}&nbsp;</dd>
      <dt>Time Zone:</dt>
      <dd>{{task.timeZone}}&nbsp;</dd>
      <dt>Status:</dt>
      <dd>{{task.status}}&nbsp;</dd>
    </dl>
    <pre class="m-t" style="max-height:150px">
      {{{task.details}}}
    </pre>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" {{action dismiss}} >Close</button>
    <button type="button" class="btn btn-danger"  {{action clone task.id}}>Duplicate</button>
    <button type="button" class="btn btn-success" {{action taskChangeColor}}> {{#link-to 'contact.calls.show' task.contact task}}Go to this call{{/link-to}}</button>
  </div>
</div>
<!-- /.modal-content -->
