<div class="hr-divider m-t">
  <h3 class="hr-divider-content hr-divider-heading">Calls</h3>
</div>
<div class="table-responsive">
  <table class="table" data-sort="table" width="100%">
    <thead>
    <tr>
      <th class="header {{if (eq tasks.meta.sort-attr-name 'date_due')
                             (if (eq tasks.meta.sort-dir 'asc') 'headerSortDown' 'headerSortUp')}}">
        {{link-to 'Due' (query-params sort="date_due" sortDir=(if (eq tasks.meta.sort-dir 'desc') 'asc' 'desc'))}}
      </th>
      <th class="header {{if (eq tasks.meta.sort-attr-name 'subject')
                             (if (eq tasks.meta.sort-dir 'asc') 'headerSortDown' 'headerSortUp')}}">
        {{link-to 'Subject' (query-params sort="subject" sortDir=(if (eq tasks.meta.sort-dir 'desc') 'asc' 'desc'))}}
        <sub><span class="bullet__task bullet__task-oap">&bull;</span> </sub>
        <small>OAP</small>
        <sub><span class="bullet__task bullet__task-mc">&bull; </span></sub>
        <small>MC</small>
      </th>
      <th class="header {{if (eq tasks.meta.sort-attr-name 'status')
                             (if (eq tasks.meta.sort-dir 'asc') 'headerSortDown' 'headerSortUp')}}">
        {{link-to 'Status' (query-params sort="status" sortDir=(if (eq tasks.meta.sort-dir 'desc') 'asc' 'desc'))}}
      </th>
    </tr>
    </thead>
    <tbody>
    {{#each tasks as |task|}}
      <tr class="{{if task.isPending (if task.isOverdue 'warning') 'text-muted'}}">
        {{#unless task.loading}}
          <td width="25%">
            <small>{{moment-format task.dateDue}}<br>
              Owner: {{task.user.name}}</small>
          </td>
          <td width="65%">{{#link-to "contact.calls.show" task invokeAction=(action 'taskChangeColor')
                                     class=(if task.isPending '' 'text-muted')}}
            {{#if (eq task.source 'OAP')}}
              <span class="bullet__task bullet__task-oap">&bull;</span>
            {{else}}
              <span class="bullet__task bullet__task-mc">&bull;</span>
            {{/if}}
            {{task.subject}}{{/link-to}}<br/>
            <small>Outcome: {{task.outcome}}</small>
          </td>
          <td width="10%">
            <small>{{task.status}}</small>
            <br/>
            {{#if (eq currentUser task.user.id)}}
              <a {{action 'populateModal' task}}><i class="icon icon-calendar"></i></a>
              <a {{action 'populateModalDetails' task}}><i class="icon icon-list"></i></a>
            {{/if}}
          </td>
        {{/unless}}
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>

{{#if taskref}}
  {{to-elsewhere named='modal'
                 send=(hash body=(component 'task-reschedule'
                   task=taskDetailReschedule
                   updateRescheduleTask=(action 'updateRescheduleTask')
                   dismiss=(action (mut taskref) null))
                   onOutsideClick=(action (mut taskref) null)) }}
{{/if}}
{{#if taskrf}}
  {{to-elsewhere named='modal'
                 send=(hash body=(component 'task-details' task=taskDetail taskChangeColor=(action 'taskChangeColor') clone=(action 'clone') dismiss=(action (mut taskrf) null)) onOutsideClick=(action (mut taskrf) null)) }}
{{/if}}
{{outlet}}