<div class="hr-divider m-b">
  <h3 class="hr-divider-content hr-divider-heading">Task Details</h3>
</div>
<dl class="m-b">
  <dt>Status:</dt>
  <dd>{{model.status}}&nbsp;</dd>
  <dt>Date assigned:</dt>
  <dd>{{moment-format model.dateAssigned}}&nbsp;</dd>
  <dt>Date due:</dt>
  <dd>{{moment-format model.dateDue}}&nbsp;</dd>
  <dt>Date complete:</dt>
  <dd>{{moment-format model.dateComplete}}&nbsp;</dd>
  <dt>Reference:</dt>
  <dd>{{model.reference}} ({{model.source}})&nbsp;</dd>
  <dt>Subject:</dt>
  <dd>{{model.subject}}</dd>
  <dt>Step num:</dt>
  <dd>{{model.stepNum}}</dd>
</dl>

<pre style="height:530px;overflow:auto;">{{{model.details}}}</pre>
