<div class="hr-divider m-t m-b">
  <h3 class="hr-divider-content hr-divider-heading">Task&nbsp;</h3>
</div>
<div class="hr-divider m-t m-b">
  <h3 class="hr-divider-content hr-divider-heading">Client&nbsp;</h3>
  </div>
  <dl>
    <dt>Reference:</<dt>
    <dd>{{model.contact.reference}}<a target="_blank" href="https://app.ontraport.com/#!/contact/edit&id={{model.contact.reference}}"> (Link to OAP)</a></dd>
    <dt>Name:</<dt>
    <dd>{{model.contact.name}}&nbsp;</dd>
    <dt>Email:</dt>
    <dd>{{model.contact.email}}&nbsp;</dd>
    <dt>Phone:</dt>
    <dd>{{model.contact.homePhone}}&nbsp;</dd>
    <dt>City:</dt>
    <dd>{{model.city}}&nbsp;</dd>
    <dt>State:</dt>
    <dd>{{model.state}}&nbsp;</dd>
    <dt>Country:</dt>
    <dd>{{model.country}}&nbsp;</dd>
    <dt>Time Zone:</dt>
    <dd>{{model.contact.timeZone}}&nbsp;</dd>
  </dl>
