<div class="row">
  <div class="col-sm-3">
    <label>Status:</label>
    <p>{{model.status}}&nbsp;</p>
    <label>Date assigned:</label>
    <p>{{moment-format model.dateAssigned}}&nbsp;</p>
  </div>
  <div class="col-sm-3">
    <label> Date due:</label>
    <p>{{moment-format model.dateDue}}&nbsp;</p>
    <label>Date complete:</label>
    <p>{{moment-format model.dateComplete}}&nbsp;</p>
  </div>
  <div class="col-sm-6">
    <label> Subject:</label>
    <p>{{model.subject}} </p>
    <p>
      <a href="#task-detail" role="tab" data-toggle="tab" aria-controls="task-detail">More <span class="badge"></span></a>
    </p>
  </div>
</div>
