<div class="hr-divider m-y-md">
  <ul class="nav nav-pills hr-divider-content hr-divider-nav" role="tablist">
    <li class="active" role="presentation">
      <a href="#sales" role="tab" data-toggle="tab" aria-controls="sales">Tasks</a>
    </li>
    <li role="presentation">
      <a href="#inventory" role="tab" data-toggle="tab" aria-controls="inventory">Notes</a>
    </li>
    <li role="presentation">
      <a href="#profit" role="tab" data-toggle="tab" aria-controls="profit">Sales</a>
    </li>
  </ul>
</div>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="sales">
    <div class="table-full" style="height:400px;overflow-y:auto;">
      <div class="table-responsive">
        <table class="table" data-sort="table">
          <thead>
            <tr>
              <th class="header">
                <input type="checkbox" class="select-all" id="selectAll">
              </th>
              <th class="header headerSortDown">Date</th>
              <th class="header">Subject</th>
              <th class="header">Completed</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.contact.tasks as |task|}}
            <tr>
              <td>
                <input type="checkbox" class="select-row">
              </td>
              <td>{{moment-format task.dateDue 'MMM Do YY'}}</td>
              <td>{{link-to task.subject 'task' task}}</td>
              <td>{{and task.dateComplete (moment-format task.dateComplete 'MMM Do YY')}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="inventory">
    <div class="table-full" style="height:400px;overflow-y:auto;">
      <div class="table-responsive">
        <table class="table" data-sort="table">
          <thead>
            <tr>
              <th class="header">
                <input type="checkbox" class="select-all" id="selectAll">
              </th>
              <th class="header headerSortDown">Date</th>
              <th class="header">Content</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.contact.notes as |note|}}
            <tr>
              <td>
                <input type="checkbox" class="select-row">
              </td>
              <td>{{moment-format note.date 'MMM Do YY'}}</td>
              <td>{{note.content}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="profit">
    <div class="table-full" style="height:400px;overflow-y:auto;">
      <div class="table-responsive">
        <table class="table" data-sort="table">
          <thead>
            <tr>
              <th class="header">
                <input type="checkbox" class="select-all" id="selectAll">
              </th>
              <th class="header headerSortDown">Date</th>
              <th class="header">Product</th>
              <th class="header">Amount</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.contact.salesOrders as |salesOrder|}}
            <tr>
              <td>
                <input type="checkbox" class="select-row">
              </td>
              <td>{{moment-format salesOrder.date 'MMM Do YY'}}</td>
              <td>{{salesOrder.product.name}}</td>
              <td>{{salesOrder.amount}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
