<div class="hr-divider m-b">
  <h3 class="hr-divider-content hr-divider-heading">Task Details</h3>
</div>
<dl>
  <dt>Date assigned:</dt>
  <dd>{{moment-format model.dateAssigned 'MMM Do YY'}}&npbs;</dd>
  <dt>Date due:</dt>
  <dd>{{moment-format model.dateDue 'MMM Do YY'}}&nbsp;</dd>
  <dt>Date complete:</dt>
  <dd>{{and model.dateComplete (moment-format model.dateComplete 'MMM Do YY')}}&nbsp;</dd>
  <dt>Reference:</dt>
  <dd>{{model.reference}} ({{model.source}})&nbsp;</dd>
  <dt>Subject:</dt>
  <dd>{{model.subject}}</dd>
  <dt>Step num:</dt>
  <dd>{{model.stepNum}}</dd>
</dl>
<hr>
<pre style="height:230px;overflow:auto;">{{{model.details}}}</pre>
