<div class="with-iconav">
  {{#if session.isAuthenticated}}
    {{#bs-popover title="Search Client" tagName="button" }}
      <form class="form" {{action "searchNow" contact step home_phone cell_phone skype_id country_or_state
                                  on="submit"}}>
        <div class="form-group">
          {{input type="text" value=contact class="form-control" placeholder="Name/Email/Ref"}}
        </div>
        <div class="form-group">
          {{input type="text" value=step class="form-control" placeholder="Current Step"}}
        </div>
        <div class="form-group">
          {{input type="text" value=home_phone class="form-control" placeholder="Phone Number"}}
        </div>
        <div class="form-group">
          {{input type="text" value=cell_phone class="form-control" placeholder="Cell Number"}}
        </div>
        <div class="form-group">
          {{input type="text" value=skype_id class="form-control" placeholder="Skype ID"}}
        </div>
        <div class="form-group">
          {{input type="text" value=country_or_state class="form-control" placeholder="Country or State"}}
        </div>
        <button type="submit" class="btn btn-primary btn-block">Search</button>
      </form>
    {{/bs-popover}}
    <nav class="iconav iconav-inverse">
      <div class="iconav-brand">
        {{#link-to-with-tip 'index' tagName="a" class="iconav-brand-icon" }}
          <img src="/img/logomobehat.png">
        {{/link-to-with-tip}}
      </div>
      <div class="iconav-slider">
        <ul class="nav nav-pills iconav-nav">
          {{#link-to-with-tip 'index' tagName="li" }}
            <a href="#" title="Dashboard" data-toggle="tooltip" data-placement="right" data-container="body">
              <span class="icon icon-home"></span>
              <small class="iconav-nav-label visible-xs-block">Dashboard</small>
            </a>
          {{/link-to-with-tip}}
          {{#link-to-with-tip 'contacts' tagName="li" }}
            <a href="#" title="Clients" data-toggle="tooltip" data-placement="right" data-container="body">
              <span class="icon icon-users"></span>
              <small class="iconav-nav-label visible-xs-block">Clients</small>
            </a>
          {{/link-to-with-tip}}
          {{#link-to-with-tip 'tasks' tagName="li" }}
            <a href="#" title="Calls" data-toggle="tooltip" data-placement="right" data-container="body">
              <span class="icon icon-list"></span>
              <small class="iconav-nav-label visible-xs-block">Calles</small>
            </a>
          {{/link-to-with-tip}}
          {{#link-to-with-tip 'buyerlead' tagName="li" }}
            <a href="#" title="Buyer Lead Process" data-toggle="tooltip" data-placement="right" data-container="body">
              <span class="icon icon-credit"></span>
              <small class="iconav-nav-label visible-xs-block">Buyer Lead Process</small>
            </a>
          {{/link-to-with-tip}}
          {{#link-to-with-tip 'training' tagName="li" }}
            <a href="#" title="Training Videos" data-toggle="tooltip" data-placement="right" data-container="body">
              <span class="icon icon-video"></span>
              <small class="iconav-nav-label visible-xs-block">Training</small>
            </a>
          {{/link-to-with-tip}}
          {{#if
            (or (eq model.account.team "Phone Sales & Training / L2 Phone Sales") (eq model.account.role.name "superadmin"))}}
            {{#link-to-with-tip 'l2resources' tagName="li" }}
              <a href="#" title="L2 Resources" data-toggle="tooltip" data-placement="right" data-container="body">
                L2
                <small class="iconav-nav-label visible-xs-block">L2 Resources</small>
              </a>
            {{/link-to-with-tip}}
          {{/if}}
          {{!--{{#link-to-with-tip (query-params library='1' ) tagName="li" }}--}}
          {{!--<a href="#" title="Library" data-toggle="tooltip" data-placement="right" data-container="body">--}}
          {{!--<span class="icon icon-open-book"></span>--}}
          {{!--<small class="iconav-nav-label visible-xs-block">Library</small>--}}
          {{!--</a>--}}
          {{!--{{/link-to-with-tip}}--}}
          {{#if search}}
            {{#link-to-with-tip (query-params search=true ) tagName="li" }}
              <a href="#" title="Search Clients" data-toggle="tooltip" data-placement="right" data-container="body">
                <span class="icon icon-magnifying-glass"></span>
                <small class="iconav-nav-label visible-xs-block">Search</small>
              </a>
            {{/link-to-with-tip}}
            {{#if search}}
              {{to-elsewhere named='modal'
                             send=(hash body=(component 'search-modal' searchNow=(action 'searchNow') dismiss=(action (mut search) false)) onOutsideClick=(action (mut search) false)) }}
            {{/if}}
          {{/if}}
          {{#link-to-with-tip 'calendar' tagName="li" }}
            <a href="#" title="Training Schedule" data-toggle="tooltip" data-placement="right" data-container="body">
              <span class="icon icon-calendar"></span>
              <small class="iconav-nav-label visible-xs-block">Training Schedule</small>
            </a>
          {{/link-to-with-tip}}
          {{#link-to-with-tip 'settings' tagName="li" }}
            <a href="#" title= {{concat 'Signed in as ' model.account.name}} data-toggle="tooltip"
               data-placement="right" data-container="body">
              <span>{{gravatar-image email='account.email' class="img-circle img-responsive" title=model.account.name
                                     defaultImage='mm'}}</span>
              <small class="iconav-nav-label visible-xs-block">@model.account.name</small>
            </a>
          {{/link-to-with-tip}}
        </ul>
      </div>
      <div class="name-vertical">

        <strong>{{concat 'Hi ' model.account.name}} </strong>
      </div>
    </nav>

  {{/if}} {{outlet}}
</div>
{{modal-target}} {{ember-notify messageStyle='bootstrap' classPrefix="custom-notify"}}

