<div class="container-fluid p-t">
  <div class="dashhead dashhead-solid">
    <div class="row">
      <div class="col-sm-6">
        <div class="dashhead-titles">
          <h6 class="dashhead-subtitle">
              {{link-to '<< Clients' 'contacts'}}
          </h6>
          <h3 class="dashhead-title">CLIENT: {{or model.name 'unnamed'}}</h3>
        </div>
      </div>
      <div class="col-sm-6">
        <ul class="nav nav-bordered pull-right">
          <li>
            <h2 class="statcard-number">Step: <strong>{{or model.step '0'}}</strong>&nbsp;</h2>
          </li>
          <li>
            <h2 class="statcard-number">Spent: <strong>${{format-number model.spent format=",0"}}</strong>&nbsp;</h2>
          </li>
          <li>
            <h2 class="statcard-number">Client Time: <strong>{{clock-timezone timezone=model.timeZone}}</strong></h2>
          </li>
          <!-- <li>
            {{link-to 'edit contact' (query-params contactrf=model.id) tagName="button" class="btn btn-primary"}}
          </li> -->
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <ul class="nav nav-bordered m-y" role="tablist">
        <li class="active" role="presentation">
          <a href="#summary" role="tab" data-toggle="tab" aria-controls="summary">Summary <span class="badge"></span></a>
        </li>
        <li role="presentation">
          <a href="#contact-details" role="tab" data-toggle="tab" aria-controls="contact-details">Client Details <span class="badge"></span></a>
        </li>
        <li role="presentation">
          <a href="#task-activities" role="tab" data-toggle="tab" aria-controls="task-activities">Tasks</a>
        </li>
        <li role="presentation">
          <a href="#sale-activities" role="tab" data-toggle="tab" aria-controls="sale-activities">Sales</a>
        </li>
        <li role="presentation">
          <a href="#contact-tags" role="tab" data-toggle="tab" aria-controls="contact-tags">Contact Tags</a>
        </li>
      </ul>
      <div class="position-fixed">
        <div class="tab-content content-block-tab" style="height:{{blockHeight}}px">
          <div role="tabpanel" class="tab-pane active" id="summary">
            {{partial 'summary'}}
          </div>
          <div role="tabpanel" class="tab-pane" id="contact-details">
            {{partial 'contact-details'}}
          </div>
          <div role="tabpanel" class="tab-pane" id="task-activities">
            {{partial 'contact-tasks'}}
          </div>
          <div role="tabpanel" class="tab-pane" id="sale-activities">
            {{partial 'contact-sales-orders'}}
          </div>
          <div role="tabpanel" class="tab-pane" id="contact-tags">
            {{partial 'contact-tags'}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 m-y">
      <div class="position-relative m-y">
        {{partial 'note-list'}}
      </div>
      <div class="position-relative">
        {{partial 'note-box'}}
      </div>
    </div>
  </div>
</div>
{{outlet}}

