{{#if isSync}}
  <div class="isSync">
    <div class="center"> Please Wait...</div>
  </div>
{{/if}}
<div class="container-fluid p-t">
  <div class="dashhead dashhead-solid">
    <div class="row">
      <div class="col-sm-4">
        <div class="dashhead-titles">
          <h3 class="dashhead-title">
            {{link-to '<< Clients' 'contacts'}}
           <br>{{link-to (or model.name 'unnamed') 'contact' model}} | {{model.email}}
          </h3>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="dropdown pull-right p-r-md p-t-10 p-b-10">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">All Actions <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li>
              {{link-to 'Change Step' (query-params  step=(or model.stepNumber '0')) tagName='a'
              }}
              {{#if step}}
                {{to-elsewhere named='modal'
                               send=(hash body=(component 'step-modal' contact=model stepNumber=model.stepNumber changeStep=(action 'changeStep') dismiss=(action (mut step) null)) onOutsideClick=(action (mut step) null)) }}
              {{/if}}
            </li>
            <li class="divider"></li>
            <li>
              {{link-to 'Edit Contact' (query-params contactrf=model.id) tagName="a"}}
              {{#if contactrf}}
                {{to-elsewhere named='modal'
                               send=(hash body=(component 'contact-modal' contact=model update=(action 'update') dismiss=(action (mut contactrf) null)) onOutsideClick=(action (mut contactrf) null)) }}
              {{/if}}
            </li>
            <li class="divider"></li>
            <li>
              {{link-to 'Sync Contact' (query-params refcon=model.id)  tagName="a"}}
              {{#if refcon}}
                {{to-elsewhere named='modal'
                               send=(hash body=(component 'sync-modal' sync=(action 'sync') dismiss=(action (mut refcon) null)) onOutsideClick=(action (mut refcon) null)) }}
              {{/if}}
            </li>
            <li class="divider"></li>
            <li>
              {{#if model.isFundingStage}}
                {{link-to 'FS Already Requested'  (query-params fundingtag=null) tagName="a"
                          disabled="disabled"}}
              {{else}}
                {{link-to 'Request Funding Stage' (query-params fundingtag=model.id)  tagName="a"
                }}
                {{#if fundingtag}}
                  {{to-elsewhere named='modal'
                                 send=(hash body=(component 'funding-tag-modal' contact=contact dismiss=(action (mut fundingtag) null)) onOutsideClick=(action (mut fundingtag) null)) }}
                {{/if}}
              {{/if}}
            </li>
          </ul>
        </div>
        <ul class="nav nav-bordered pull-right">
          {{#if (or isSilverWebinar.attendedLive (or isSilverWebinar.attendedReply))}}
            <li><h2 class="statcard-number">Silver Webinar<br/><strong> Attended </strong>&nbsp;</h2></li>
          {{else}}
            {{#if isSilverWebinar.registered}}
              <li><h2 class="statcard-number">Silver Webinar<br/><strong> Registered </strong>&nbsp;</h2></li>
            {{else}}
              <li><h2 class="statcard-number">Silver Webinar<br/><strong> Not Attended </strong>&nbsp;</h2></li>
            {{/if}}
          {{/if}}
          <li>
            <h2 class="statcard-number">Step: <br/><strong>{{or model.stepNumber '0'}}</strong>&nbsp;</h2>
          </li>
          <li>
            <h2 class="statcard-number">Spent: <br/><strong>${{format-number model.spent format=",0"}}</strong>&nbsp;</h2>
          </li>
          <li>
            <h2 class="statcard-number">Client Time: <br/><strong>{{clock-timezone timezone=model.timeZone}}</strong></h2>
          </li>
          <li>
            <h2 class="statcard-number">Traffic Coach: <br/><strong>{{model.trafficCoach}}</strong>&nbsp;</h2>
          </li>
          <li>&nbsp;</li>
        </ul>

      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-6">
      <ul class="nav nav-bordered m-y" role="tablist">
        <li class="active" role="presentation">
          <a href="#summary" role="tab" data-toggle="tab" aria-controls="summary">Summary <span
            class="badge"></span></a>
        </li>
        <li role="presentation">
          <a href="#contact-details" role="tab" data-toggle="tab" aria-controls="contact-details">Client Details <span
            class="badge"></span></a>
        </li>
        <li role="presentation">
          <a href="#task-activities" role="tab" data-toggle="tab" aria-controls="task-activities">Calls</a>
        </li>
        <li role="presentation">
          <a href="#sale-activities" role="tab" data-toggle="tab" aria-controls="sale-activities">Sales</a>
        </li>
        <li role="presentation">
          <a href="#contact-tags" role="tab" data-toggle="tab" aria-controls="contact-tags">Contact Tags</a>
        </li>
        <li role="presentation">
          <a href="#contact-application" role="tab" data-toggle="tab" aria-controls="contact-application">Extra</a>
        </li>
        <li role="presentation">
          <a href="#contact-automation-log" role="tab" data-toggle="tab" aria-controls="contact-automation-log">Logs</a>
        </li>
      </ul>
      <div class="position-fixed">
        <div class="tab-content content-block-tab" style="height:{{blockHeight}}px">
          <div role="tabpanel" class="tab-pane active" id="summary">
            {{partial 'summary'}}
          </div>
          <div role="tabpanel" class="tab-pane" id="contact-details">
            {{partial 'contact-details'}}
          </div>
          <div role="tabpanel" class="tab-pane" id="task-activities">
            {{partial 'contact-tasks'}}
          </div>
          <div role="tabpanel" class="tab-pane" id="sale-activities">
            {{partial 'contact-sales-orders'}}
          </div>
          <div role="tabpanel" class="tab-pane" id="contact-tags">
            {{partial 'contact-tags'}}
          </div>
          <div role="tabpanel" class="tab-pane" id="contact-application">
            {{partial 'mttb-application'}}
            {{partial 'mttb-interview'}}
          </div>
          <div role="tabpanel" class="tab-pane" id="contact-automation-log">
            {{partial 'contact-logs'}}
            {{!--partial 'automation-logs'--}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 m-y">
      <div class="position-relative m-y">
        {{partial 'note-list'}}
      </div>
      <div class="position-relative">
        {{partial 'note-box'}}
      </div>
    </div>
  </div>
</div>
{{outlet}}
