<div class="container-fluid p-t">
  <div class="dashhead">
    <div class="dashhead-titles">
      <h6 class="dashhead-subtitle">
            {{link-to '<< Contacts' 'contacts'}}
      </h6>
      <h2 class="dashhead-title">CONTACT OAP ID: #{{model.reference}}</h2>
    </div>

    <div class="btn-toolbar dashhead-toolbar">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7">
      {{render 'contact-details' model}}
    </div>
    <div class="col-sm-5">
    <p>
     {{#link-to (query-params step=model.step) tagName='button' class='btn btn-sm btn-block btn-primary'}}
              Change Step
     {{/link-to}}
    </p>
    <div class="hr-divider m-b">
      <h3 class="hr-divider-content hr-divider-heading">Contact State</h3>
    </div>

    <dl class="m-b">

    </dl>
    <pre style="height:230px;overflow:auto;">{{{model.details}}}</pre>

      <div class="hr-divider m-t m-b">
        <h3 class="hr-divider-content hr-divider-heading">Quick Note</h3>
      </div>
      <form class="form" {{action "newNote" on="submit"}}>
        <div class="form-group">
         {{textarea value=noteContent class="form-control" rows="8"}}
        </div>
        <div class="form-group">
          <button class="btn btn-success btn-block" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{outlet}}
