{{#if isSync}}
  <div class="isSync">
    <div class="center"> Please Wait...</div>
  </div>
{{/if}}
<div class="container-fluid p-t">
  <div class="dashhead dashhead-solid">
    <div class="row">
      <div class="col-sm-4">
        <div class="dashhead-titles">
          <div> {{link-to '<< Clients' 'contacts'}}</div>
          <h3 class="dashhead-title">
            CLIENT: {{link-to (or model.name 'unnamed') 'contact' model}}
            {{#if (or isSilverWebinar.attendedLive (or isSilverWebinar.attendedReply))}}
              <span class="label label-danger"> | Silver Webinar Attended </span>
            {{else}}
              {{#if isSilverWebinar.registered}}
                <span class="label label-info">Silver Webinar Registered</span>
              {{else}}
                <span class="label label-default"> | Silver Webinar Not Attended </span>
              {{/if}}
            {{/if}}
          </h3>
        </div>
      </div>
      <div class="col-sm-8">
        <ul class="nav nav-bordered pull-right">
          <li>
            <h2 class="statcard-number">Step: <strong>{{or model.step '0'}}</strong>&nbsp;</h2>
          </li>
          <li>
            <h2 class="statcard-number">Spent: <strong>${{format-number model.spent format=",0"}}</strong>&nbsp;</h2>
          </li>
          <li>
            <h2 class="statcard-number">Client Time: <strong>{{clock-timezone timezone=model.timeZone}}</strong></h2>
          </li>
          <li>
            {{link-to 'Change Step' (query-params  step=(or model.step '0')) tagName='button'
                      class='btn btn-sm btn-primary'}}
            {{#if step}}
              {{to-elsewhere named='modal'
                             send=(hash body=(component 'step-modal' contact=model changeStep=(action 'changeStep') dismiss=(action (mut step) null)) onOutsideClick=(action (mut step) null)) }}
            {{/if}}
          </li>
          <li>
            {{link-to 'Edit Contact' (query-params contactrf=model.id) tagName="button" class="btn btn-sm btn-primary"}}
            {{#if contactrf}}
              {{to-elsewhere named='modal'
                             send=(hash body=(component 'contact-modal' contact=model update=(action 'update') dismiss=(action (mut contactrf) null)) onOutsideClick=(action (mut contactrf) null)) }}
            {{/if}}
          </li>
          <li>
            {{link-to 'Sync Contact' (query-params refcon=model.id)  tagName="button" class="btn btn-sm btn-primary"}}
            {{#if refcon}}
              {{to-elsewhere named='modal'
                             send=(hash body=(component 'sync-modal' sync=(action 'sync') dismiss=(action (mut refcon) null)) onOutsideClick=(action (mut refcon) null)) }}
            {{/if}}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <ul class="nav nav-bordered m-y" role="tablist">
        <li class="active" role="presentation">
          <a href="#summary" role="tab" data-toggle="tab" aria-controls="summary">Summary <span
            class="badge"></span></a>
        </li>
        <li role="presentation">
          <a href="#contact-details" role="tab" data-toggle="tab" aria-controls="contact-details">Client Details <span
            class="badge"></span></a>
        </li>
        <li role="presentation">
          <a href="#task-activities" role="tab" data-toggle="tab" aria-controls="task-activities">Calls</a>
        </li>
        <li role="presentation">
          <a href="#sale-activities" role="tab" data-toggle="tab" aria-controls="sale-activities">Sales</a>
        </li>
        <li role="presentation">
          <a href="#contact-tags" role="tab" data-toggle="tab" aria-controls="contact-tags">Contact Tags</a>
        </li>
        <li role="presentation">
          <a href="#contact-application" role="tab" data-toggle="tab" aria-controls="contact-application">Extra</a>
        </li>
        {{!--<li role="presentation">--}}
        {{!--<a href="#contact-automation-log" role="tab" data-toggle="tab" aria-controls="contact-automation-log">Logs</a>--}}
        {{!--</li>--}}
      </ul>
      <div class="position-fixed">
        <div class="tab-content content-block-tab" style="height:{{blockHeight}}px">
          <div role="tabpanel" class="tab-pane active" id="summary">
            {{partial 'summary'}}
          </div>
          <div role="tabpanel" class="tab-pane" id="contact-details">
            {{partial 'contact-details'}}
          </div>
          <div role="tabpanel" class="tab-pane" id="task-activities">
            {{partial 'contact-tasks'}}
          </div>
          <div role="tabpanel" class="tab-pane" id="sale-activities">
            {{partial 'contact-sales-orders'}}
          </div>
          <div role="tabpanel" class="tab-pane" id="contact-tags">
            {{partial 'contact-tags'}}
          </div>
          <div role="tabpanel" class="tab-pane" id="contact-application">
            {{partial 'mttb-application'}}
            {{partial 'mttb-interview'}}
          </div>
          {{!--<div role="tabpanel" class="tab-pane" id="contact-automation-log">--}}
          {{!--{{partial 'contact-logs'}}--}}
          {{!--{{partial 'automation-logs'}}--}}
          {{!--</div>--}}
        </div>
      </div>
    </div>
    <div class="col-sm-6 m-y">
      <div class="position-relative m-y">
        {{partial 'note-list'}}
      </div>
      <div class="position-relative">
        {{partial 'note-box'}}
      </div>
    </div>
  </div>
</div>
{{outlet}}
