<div class="container-fluid p-t">
  <div class="dashhead dashhead-solid">
    <div class="dashhead-titles">
      <h6 class="dashhead-subtitle">
        {{link-to '<< Contacts' 'contacts'}}
      </h6>
      <h3 class="dashhead-title">CLIENT OAP ID: #{{model.reference}}</h3>
    </div>
    <div class="btn-toolbar dashhead-toolbar">
      {{link-to 'Change Step' (query-params step=model.step) tagName='button' class='btn btn-sm btn-primary'}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <ul class="nav nav-bordered m-y" role="tablist">
        <li class="active" role="presentation">
          <a href="#summery" role="tab" data-toggle="tab" aria-controls="tasks-today">Summery <span class="badge"></span></a>
        </li>
        <li role="presentation">
          <a href="#task-sales" role="tab" data-toggle="tab" aria-controls="task-sales">Tasks & Sales</a>
        </li>
      </ul>
      <div class=" position-fixed">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="summery">
            {{render 'contact-details' model}}
          </div>
          <div role="tabpanel" class="tab-pane" id="task-sales">
            {{render '-task-activities' model}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      {{render 'note-list' model}} {{render 'note-box' model}}
    </div>
  </div>
</div>
{{outlet}}
