<div class="hr-divider m-y">
  <h3 class="hr-divider-content hr-divider-heading">{{contact.name}}&nbsp;</h3>
</div>
<dl>
  <dt>Reference:</dt>
  <dd>{{contact.reference}}&nbsp;</dd>
  <dt>Name:</dt>
  <dd>{{contact.name}}&nbsp;{{link-to '(Link to Client)' 'contact' contact}}&nbsp;</dd>
  <dt>&nbsp;</dt>
  <dd>&nbsp;</dd>
  <dt>Date:</dt>
  <dd>{{moment-format contact.date}}&nbsp;</dd>
  <dt>Date Last Modified:</dt>
  <dd>{{moment-format contact.dateLastModified}}&nbsp;</dd>
  <dt>&nbsp;</dt>
  <dd>&nbsp;</dd>
  <dt>Email:</dt>
  <dd><a target="_bank" href="mailto:{{contact.email}}">{{contact.email}}&nbsp;</a></dd>
  <dt>Home Phone:</dt>
  <dd>{{contact.homePhone}}&nbsp;</dd>
  <dt>Cell Phone:</dt>
  <dd>{{contact.cellPhone}}&nbsp;</dd>
  <dt>&nbsp;</dt>
  <dd>&nbsp;</dd>
  <dt>Skype ID:</dt>
  <dd>{{contact.skypeId}}&nbsp; <a href="skype:{{contact.skypeId}}?call">Call </a>|<a href="skype:{{contact.skypeId}}?chat"> Chat</a> </dd>
  <dt>&nbsp;</dt>
  <dd>&nbsp;</dd>
  <dt>City:</dt>
  <dd>{{contact.city}}&nbsp;</dd>
  <dt>State:</dt>
  <dd>{{contact.state}}&nbsp;</dd>
  <dt>Country:</dt>
  <dd>{{contact.country}}&nbsp;</dd>
  <dt>Time Zone:</dt>
  <dd>{{contact.timeZone}}&nbsp;</dd>
  <dt>&nbsp;</dt>
  <dd>&nbsp;</dd>
  <dt>L0 Coach:</dt>
  <dd>{{contact.l0MttbCoach}}&nbsp;</dd>
  <dt>L1 Coach:</dt>
  <dd>{{contact.l1MttbCoach}}&nbsp;</dd>
  <dt>L2 Coach:</dt>
  <dd>{{contact.l2MttbCoach}}&nbsp;</dd>
  <dt>Traffic Coach:</dt>
  <dd>{{contact.trafficCoach}}&nbsp;</dd>
  <dt>&nbsp;</dt>
  <dd>&nbsp;</dd>
  <dt>L1 Affiliate:</dt>
  <dd>{{contact.l1Affiliate}}&nbsp;</dd>
  <dt>L2 Affiliate:</dt>
  <dd>{{contact.l2Affiliate}}&nbsp;</dd>
</dl>
