<div class="search-col">
  <div class="dashhead">
    <h2 class="dashhead-title">Clients</h2>
  </div>
  <form {{action 'queryChanged' on="submit" }} class="form">
    <div class="form-group">
      {{input type="text" value=contact class="form-control" placeholder="Name/Email/Ref"}}
    </div>
    <!-- <div class="form-group">
      {{input type="text" value=step class="form-control" placeholder="Current Step"}}
    </div> -->
    <div class="form-group">
      {{input type="text" value=step_number class="form-control" placeholder="Current Step"}}
    </div>
    <div class="form-group">
      {{input type="text" value=home_phone class="form-control" placeholder="Phone Number"}}
    </div>
    <div class="form-group">
      {{input type="text" value=cell_phone class="form-control" placeholder="Cell Number"}}
    </div>
    <div class="form-group">
      {{input type="text" value=skype_id class="form-control" placeholder="Skype ID"}}
    </div>
    <div class="form-group">
      {{input type="text" value=country_or_state class="form-control" placeholder="Country or State"}}
    </div>
    <div class="form-group">
      {{input type="text" value=time_zone class="form-control" placeholder="Time Zone"}}
    </div>
    <div class="form-group">
      {{bootstrap-datepicker value=startDateToJSDate format="yyyy-mm-dd" placeholder="Created date (from)"
                             class="form-control" autoclose=true forceDateValue=true}}
    </div>
    <div class="form-group">
      {{bootstrap-datepicker value=endDateToJSDate format="yyyy-mm-dd" placeholder="Created date (before)" class="form-control"
                             autoclose=true forceDateValue=true}}
    </div>
    <div class="form-group">
      <div class="row">
        <div class="hr-divider m-t">
          <h3 class="hr-divider-content hr-divider-heading">Client's Time</h3>
        </div>
        <div class="col-md-6">From:</div>
        <div class="col-md-6">To:</div>
        <div
            class="col-md-6">{{ember-selectize content=utcHour selection=valueField optionValuePath="content.id" optionLabelPath="content.label" select-value=(action 'selectuUtc' 'offset_from') placeholder="H"}} </div>
        <div
            class="col-md-6">{{ember-selectize content=utcHour selection=labelField optionValuePath="content.id" optionLabelPath="content.label" placeholder="H" select-value=(action 'selectuUtc' 'offset_to')}} </div>
      </div>
    </div>
    <div class="col-md-6">
      <button type="reset" {{action 'queryClear' }} class="btn btn-block btn-default">Reset</button>
    </div>
    <div class="col-md-6">
      <button type="submit" class="btn btn-block btn-primary">Search</button>
    </div>

  </form>
</div>
<div class="container-fluid search-panel">
  <div class="col-md-12">
    <div class="clearfix">
      <div class="col-md-4">
        <div class="statcard p-a m-b">
        <span class="h3 statcard-number">
          {{format-number model.meta.total-count format=",0"}}
        </span>
          <span class="statcard-desc text-mute">client(s)</span>
        </div>
      </div>
      <div class="col-md-2">
        {{ember-selectize content=perPageList
                          value=labelField
                          selection=25 class="p-a"
                          optionValuePath="content"
                          optionLabelPath="content"
                          select-value=(action 'sendPerPage')
        }}
      </div>
      <div class="col-md-6">
        {{page-numbers content=model class="pull-right"}}
      </div>
    </div>
    <div class="table-full">
      <div class="table-responsive">
        <table class="table table-condensed table-small" data-sort="table">
          <thead>
          <tr>
            <th class="header {{if (eq model.meta.sort-attr-name 'date') (if (eq model.meta.sort-dir 'asc') 'headerSortDown' 'headerSortUp')}}">
              {{link-to 'Date' (query-params sort="date" sortDir=(if (eq model.meta.sort-dir 'desc') 'asc' 'desc'))}}
            </th>
            <th class="header {{if (eq model.meta.sort-attr-name 'step_number') (if (eq model.meta.sort-dir 'asc') 'headerSortDown' 'headerSortUp')}}">
              {{link-to 'Step' (query-params sort="step_number" sortDir=(if (eq model.meta.sort-dir 'desc') 'asc' 'desc'))}}
            </th>
            <th class="header {{if (eq model.meta.sort-attr-name 'name') (if (eq model.meta.sort-dir 'asc') 'headerSortDown' 'headerSortUp')}} {{if (eq model.meta.sort-attr-name 'email') (if (eq model.meta.sort-dir 'asc') 'headerSortDown' 'headerSortUp')}}">
              {{link-to 'Client' (query-params sort="name" sortDir=(if (eq model.meta.sort-dir 'desc') 'asc' 'desc'))}}
              /
              {{link-to 'Email' (query-params sort="email" sortDir=(if (eq model.meta.sort-dir 'desc') 'asc' 'desc'))}}
            </th>

            <th class="header {{if (eq model.meta.sort-attr-name 'home_phone') (if (eq model.meta.sort-dir 'asc') 'headerSortDown' 'headerSortUp')}}">
              {{link-to 'Home Phone' (query-params sort="home_phone" sortDir=(if (eq model.meta.sort-dir 'desc') 'asc' 'desc'))}}
            </th>
            <th class="header {{if (eq model.meta.sort-attr-name 'cell_phone') (if (eq model.meta.sort-dir 'asc') 'headerSortDown' 'headerSortUp')}}">
              {{link-to 'Cell Phone' (query-params sort="cell_phone" sortDir=(if (eq model.meta.sort-dir 'desc') 'asc' 'desc'))}}
            </th>
            <th class="header {{if (eq model.meta.sort-attr-name 'skype_id') (if (eq model.meta.sort-dir 'asc') 'headerSortDown' 'headerSortUp')}}">
              {{link-to 'Skype ID' (query-params sort="skype_id" sortDir=(if (eq model.meta.sort-dir 'desc') 'asc' 'desc'))}}
            </th>
            <th class="header {{if (eq model.meta.sort-attr-name 'Country') (if (eq model.meta.sort-dir 'asc') 'headerSortDown' 'headerSortUp')}} {{if (eq model.meta.sort-attr-name 'state') (if (eq model.meta.sort-dir 'asc') 'headerSortDown' 'headerSortUp')}}">
              {{link-to 'Country' (query-params sort="country" sortDir=(if (eq model.meta.sort-dir 'desc') 'asc' 'desc'))}}
              /
              {{link-to 'State' (query-params sort="state" sortDir=(if (eq model.meta.sort-dir 'desc') 'asc' 'desc'))}}

            </th>
            <th class="header {{if (eq model.meta.sort-attr-name 'time_zone') (if (eq model.meta.sort-dir 'asc') 'headerSortDown' 'headerSortUp')}} {{if (eq model.meta.sort-attr-name 'utc_offset') (if (eq model.meta.sort-dir 'asc') 'headerSortDown' 'headerSortUp')}}">
              {{link-to 'Local Time' (query-params sort="utc_offset" sortDir=(if (eq model.meta.sort-dir 'desc') 'asc' 'desc'))}}
              /
              {{link-to 'Time Zone' (query-params sort="time_zone" sortDir=(if (eq model.meta.sort-dir 'desc') 'asc' 'desc'))}}
            </th>
            <th class="header {{if (eq model.meta.sort-attr-name 'contacted_at') (if (eq model.meta.sort-dir 'asc') 'headerSortDown' 'headerSortUp')}}">
              {{link-to 'Last Contact' (query-params sort="contacted_at" sortDir=(if (eq model.meta.sort-dir 'desc') 'asc' 'desc'))}}
            </th>
          </tr>
          </thead>
          {{#if model.loading}}
            <div class="padding-200">
              {{ember-spinner}}
            </div>
          {{else}}
            <tbody>
            {{#unless model.length}}
              <tr>
                <td colspan="10">
                  <div class="well">There is nothing to show, please {{#link-to "lookup"}}click
                    here{{/link-to}} to lookup more
                  </div>
                </td>
              </tr>
            {{else}}
              {{#each model as |contact|}}
                <tr>
                  <td>{{moment-format contact.date}}</td>
                  <td align="center" class="{{if (eq contact.stepNumber 0) 'text-danger'}}">
                    <span class="badge label-s-0">{{contact.stepNumber}}</span>
                  </td>
                  <td>{{link-to (or contact.name '[unnamed]') 'contact' contact}}
                    <br/>{{or contact.email '[no email]'}}</td>
                  <td>{{contact.homePhone}}</td>
                  <td>{{contact.cellPhone}}</td>
                  <td>{{contact.skypeId}}</td>
                  <td><strong>{{contact.country}}</strong>
                    <br><span class="text-muted">{{contact.state}}</span></td>
                  <td>
                    <strong>{{#unless (eq contact.timeZone null)}}
                      {{current-time contact.timeZone}}
                    {{/unless}}</strong>
                    <br>
                    <span class="text-muted">{{contact.timeZone}}</span>
                  </td>
                  <td>{{moment-format contact.contactedAt}}</td>
                </tr>
              {{/each}}
            {{/unless}}
            </tbody>
          {{/if}}
        </table>
      </div>
    </div>
  </div>
</div>
{{outlet}}
