<div class="hr-divider m-t">
  <h3 class="hr-divider-content hr-divider-heading">Calls</h3>
</div>
<div class="table-responsive">
  <table class="table" data-sort="table">
    <thead>
    <tr>
      <th></th>
      <th class="header {{if (eq tasks.meta.sort-attr-name 'date_due')
                             (if (eq tasks.meta.sort-dir 'asc') 'headerSortDown' 'headerSortUp')}}">
        {{link-to 'Due' (query-params sort="date_due" sortDir=(if (eq tasks.meta.sort-dir 'desc') 'asc' 'desc'))}}
      </th>
      <th class="header {{if (eq tasks.meta.sort-attr-name 'subject')
                             (if (eq tasks.meta.sort-dir 'asc') 'headerSortDown' 'headerSortUp')}}">
        {{link-to 'Subject' (query-params sort="subject" sortDir=(if (eq tasks.meta.sort-dir 'desc') 'asc' 'desc'))}}
      </th>
      <th class="header {{if (eq tasks.meta.sort-attr-name 'status')
                             (if (eq tasks.meta.sort-dir 'asc') 'headerSortDown' 'headerSortUp')}}">
        {{link-to 'Status' (query-params sort="status" sortDir=(if (eq tasks.meta.sort-dir 'desc') 'asc' 'desc'))}}
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each tasks as |task|}}
      <tr class="{{if task.isPending (if task.isOverdue 'warning') 'text-muted'}}">
        {{#unless task.loading}}
          <td>
            {{#if (eq task.source 'OAP')}}
              <span class="bullet__task bullet__task-oap">&bull;</span>
            {{else}}
              <span class="bullet__task bullet__task-mc">&bull;</span>
            {{/if}}
          </td>
        <td>{{moment-format task.dateDue}}<br>

         <small>
           Owner: {{task.user.name}}</small>
        </td>
        <td>{{#link-to "task" task invokeAction=(action 'taskChangeColor')
                       class=(if task.isPending '' 'text-muted')}}{{task.subject}} {{/link-to}}<br/>
          <small>Outcome: {{task.outcome}}</small>
        </td>
        <td>{{task.status}}</td>
        <td>
          <a {{action 'populateModal' task}}>Reschedule</a>
          <br/>
          <a {{action 'populateModalDetails' task}}>Details</a>
        </td>
        {{/unless}}
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>

{{#if taskref}}
  {{to-elsewhere named='modal'
                 send=(hash body=(component 'task-reschedule'
                   task=taskDetailReschedule
                   updateRescheduleTask=(action 'updateRescheduleTask')
                   dismiss=(action (mut taskref) null))
                   onOutsideClick=(action (mut taskref) null)) }}
{{/if}}
{{#if taskrf}}
  {{to-elsewhere named='modal'
                 send=(hash body=(component 'task-details' task=taskDetail taskChangeColor=(action 'taskChangeColor') clone=(action 'clone') dismiss=(action (mut taskrf) null)) onOutsideClick=(action (mut taskrf) null)) }}
{{/if}}