<div class="container-fluid p-t">
  <div class="dashhead dashhead-solid">
    <div class="dashhead-titles">
      <h6 class="dashhead-subtitle">
        {{link-to '<< Contacts' 'contacts'}}
      </h6>
      <h3 class="dashhead-title">CLIENT: {{or model.name "<unnamed>"}} #{{model.reference}}</h3>
    </div>
    <div class="btn-toolbar dashhead-toolbar">
      {{link-to 'Change Step' (query-params step=model.step) tagName='button' class='btn btn-sm btn-primary'}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <ul class="nav nav-bordered m-y" role="tablist">
        <li class="active" role="presentation">
          <a href="#summary" role="tab" data-toggle="tab" aria-controls="summary">Summary <span class="badge"></span></a>
        </li>
        <li role="presentation">
          <a href="#contact-details" role="tab" data-toggle="tab" aria-controls="contact-details">Client Details <span class="badge"></span></a>
        </li>
        <li role="presentation">
          <a href="#task-activities" role="tab" data-toggle="tab" aria-controls="task-activities">Tasks</a>
        </li>
        <li role="presentation">
          <a href="#sale-activities" role="tab" data-toggle="tab" aria-controls="sale-activities">Sales</a>
        </li>
        <li role="presentation">
          <a href="#contact-tags" role="tab" data-toggle="tab" aria-controls="contact-tags">Contact Tags</a>
        </li>
      </ul>
      <div class=" position-fixed">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="summary">
            {{partial 'summary'}}
          </div>
          <div role="tabpanel" class="tab-pane" id="contact-details">
            {{partial 'contact-details'}}
          </div>
          <div role="tabpanel" class="tab-pane" id="task-activities">
            {{partial 'contact-tasks'}}
          </div>
          <div role="tabpanel" class="tab-pane" id="sale-activities">
            {{partial 'contact-sales-orders'}}
          </div>
          <div role="tabpanel" class="tab-pane" id="contact-tags">
            {{partial 'contact-tags'}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      {{render 'note-list' notes}} {{render 'note-box' model}}
    </div>
  </div>
</div>
{{outlet}}
