<div class="table-full">
  <div class="hr-divider m-t">
    <h3 class="hr-divider-content hr-divider-heading">Contact Logs</h3>
  </div>
  <div class="table-responsive">
    <!--<div class="alert">-->
    <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>-->
    <!--<strong>Note:</strong> All logs are back dated to 2016.-->
    <!--</div>-->
    <table class="table" data-sort="table">
      <thead>
      <tr>
        <th class="header">Type/Date</th>
        <th class="header">Topic</th>
      </tr>
      </thead>
      <tbody>
      {{#if contact.contactLogs.content.isLoaded}}
        {{#each contact.contactLogs as |contactLogs|}}
          <tr>
            <td><label class="label label-info">{{contactLogs.translated}} </label>
              <br/>{{moment-format contactLogs.date}}</td>
            <td>{{contactLogs.topic}}<br>
              {{#if contactLogs.resource}}
                <iframe class="iframe__dotted" srcdoc={{contactLogs.resource}} width="100%"></iframe>
              {{/if}}
            </td>
          </tr>
        {{/each}}
      {{else}}
        <tr class="padding-200">
          <td colspan="3"> {{ember-spinner}}</td>
        </tr>
      {{/if}}
      </tbody>
    </table>
  </div>
</div>
