<div class="hr-divider m-y">
  <h3 class="hr-divider-content hr-divider-heading">{{contact.name}}&nbsp;</h3>
</div>
<dl>
  <dt>Date:</dt>
  <dd>{{moment-format contact.date 'MMM Do YY'}}&nbsp;</dd>
  <dt>Date Last Modified:</dt>
  <dd>{{moment-format contact.dateLastModified 'MMM Do YY'}}&nbsp;</dd>
  <<dt>Name:</<dt>
  <dd>{{contact.name}}&nbsp;</dd>
  <dt>Reference:</dt>
  <dd>{{contact.reference}} ({{contact.source}})&nbsp;</dd>
  <dt>Email:</dt>
  <dd>{{contact.email}}&nbsp;</dd>
  <dt>Phone:</dt>
  <dd>{{contact.homePhone}}&nbsp;</dd>
  <dt>Skype ID:</dt>
  <dd>{{contact.skypeId}}&nbsp;</dd>
  <dt>City:</dt>
  <dd>{{contact.city}}&nbsp;</dd>
  <dt>State:</dt>
  <dd>{{contact.state}}&nbsp;</dd>
  <dt>Country:</dt>
  <dd>{{contact.country}}&nbsp;</dd>
  <dt>Time Zone:</dt>
  <dd>{{contact.timeZone}}&nbsp;</dd>
  <dt>L1: MTTB Coach:</dt>
  <dd>{{contact.l1MttbCoach}}&nbsp;</dd>
  <dt>L2: MTTB Coach:</dt>
  <dd>{{contact.l2MttbCoach}}&nbsp;</dd>
</dl>
<div class="row">
  <div class="col-sm-12">
    <a class="btn btn-block" target="_blank" href="https://app.ontraport.com/#!/contact/edit&id={{contact.reference}}">Link to OAP</a>
  </div>
</div>
