<div class="container p-t-lg">
  <div class="dashhead">
    <div class="dashhead-titles">
      <h6 class="dashhead-subtitle">Contacts</h6>
      <h2 class="dashhead-title">Search Contacts </h2>
    </div>

    <div class="btn-toolbar dashhead-toolbar">
      <div class="btn-toolbar-item input-with-icon">
        <input type="text" value="01/01/15 - 01/08/15" class="form-control" data-provide="datepicker">
        <span class="icon icon-calendar"></span>
      </div>
    </div>
  </div>
  <div class="flextable table-actions">
    <div class="flextable-item flextable-primary">
      <div class="btn-toolbar-item input-with-icon">
        <input type="text" class="form-control input-block" placeholder="Search contacts">
        <span class="icon icon-magnifying-glass"></span>
      </div>
    </div>
    <div class="flextable-item">
      <div class="btn-group">
        <button type="button" class="btn btn-primary-outline">
          <span class="icon icon-pencil"></span>
        </button>
        <button type="button" class="btn btn-primary-outline">
          <span class="icon icon-erase"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="text-center">
    <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous" {{action "prevPage"}}>
            <span aria-hidden="true">«</span>
          </a>
        </li>

        <li>
        <a href="#" aria-label="Next" {{action "nextPage"}}>
          <span aria-hidden="true">»</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="table-full">
    <div class="table-responsive">
      <table class="table" data-sort="table">
        <thead>
          <tr>
            <th class="header">
              <input type="checkbox" class="select-all" id="selectAll">
            </th>
            <th class="header">Email</th>
            <th class="header">Customer name</th>
            <th class="header">Reference</th>
            <th class="header">Source</th>
            <th class="header">State</th>
          </tr>
        </thead>
        <tbody>
           {{#each model as |contact|}}
            <tr>
              <td>
                <input type="checkbox" class="select-row">
              </td>
              <td>{{contact.email}}</td>
              <td>{{contact.name}}</td>
              <td>{{link-to contact.reference 'contact' contact}}</td>
              <td>{{contact.source}}</td>
              <td>{{contact.state}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>

    </div>
  </div>
  {{outlet}}

</div>
