<div class="container-fluid p-t">
  <div class="dashhead">
    <div class="dashhead-titles">
      <h6 class="dashhead-subtitle">
            {{link-to '<< Contacts' 'contacts'}}
      </h6>
      <h2 class="dashhead-title">CONTACT OAP ID: #{{model.reference}}</h2>
    </div>

    <div class="btn-toolbar dashhead-toolbar">
      {{#link-to (query-params step=model.step) tagName='button' class='btn btn-sm  btn-primary'}}
              Change Step
     {{/link-to}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7">
      {{render 'contact-details' model}}
    </div>
    <div class="col-sm-5">

     {{render 'note-list' model}}

      {{render 'note-box' model}}
    </div>
  </div>
</div>
{{outlet}}
