<div class="container-fluid p-t">
  <div class="dashhead">
    <div class="dashhead-titles">
      <h6 class="dashhead-subtitle">
            {{link-to '<< Contacts' 'contacts'}}
      </h6>
      <h2 class="dashhead-title">CONTACT OAP ID: #{{model.reference}}</h2>
    </div>

    <div class="btn-toolbar dashhead-toolbar">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">{{model.name}}&nbsp;</h2>
        </div>
        <div class="panel-body">
        <div class="col-md-10">
          <dl>
            <dt>Date:</dt>
            <dd>{{moment-format model.date}}&nbsp;</dd>
            <dt>Date Last Modified:</dt>
            <dd>{{moment-format model.dateLastModified}}&nbsp;</dd>
            <dt>First Name:</<dt>
            <dd>{{model.firstName}}&nbsp;</dd>
            <dt>Last Name:</dt>
            <dd>{{model.lastName}}&nbsp;</dd>
            <dt>Reference:</dt>
            <dd>{{model.reference}} ({{model.source}})</dd>
            <dt>Email:</dt>
            <dd>{{model.email}}&nbsp;</dd>
            <dt>Step:</dt>
            <dd>
             {{input type="number" value=model.step}}
            {{#link-to (query-params step=model.step) tagName='button' class='btn btn-sm btn-primary'}}
              Change Step
            {{/link-to}}
            </dd>
            <dt>L1: MTTB Coach:</dt>
            <dd>{{model.l1MttbCoach}}&nbsp;</dd>
            <dt>L2: MTTB Coach:</dt>
            <dd>{{model.l2MttbCoach}}&nbsp;</dd>
          </dl>
        </div>
        <div class="col-md-2">
           <img src="http://placehold.it/65x65" class="img-circle">
        </div>
          <div class="hr-divider m-y-md">
              <ul class="nav nav-pills hr-divider-content hr-divider-nav" role="tablist">
                <li class="active" role="presentation">
                  <a href="#sales" role="tab" data-toggle="tab" aria-controls="sales">Tasks</a>
                </li>
                <li role="presentation">
                  <a href="#inventory" role="tab" data-toggle="tab" aria-controls="inventory">Notes</a>
                </li>
                <li role="presentation">
                  <a href="#profit" role="tab" data-toggle="tab" aria-controls="profit">Sales</a>
                </li>
              </ul>
            </div>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="sales">
                <div class="table-full" style="height:400px;overflow-y:auto;">
                  <div class="table-responsive">
                    <table class="table" data-sort="table">
                      <thead>
                        <tr>
                          <th class="header headerSortDown">Date</th>
                          <th class="header">Subject</th>
                          <th class="header">Completed</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{#each model.tasks as |task|}}
                        <tr>
                          <td>{{moment-format task.dateDue}}</td>
                          <td>{{link-to task.subject 'task' task}}</td>
                          <td>{{and task.dateComplete (moment-format task.dateComplete)}}</td>
                        </tr>
                        {{/each}}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div role="tabpanel" class="tab-pane" id="inventory">
                <div class="table-full" style="height:400px;overflow-y:auto;">
                  {{partial 'partial-notes'}}

                </div>
              </div>

              <div role="tabpanel" class="tab-pane" id="profit">
                <div class="table-full" style="height:400px;overflow-y:auto;">
                   {{partial 'partial-sales'}}
                </div>
              </div>
            </div>

        </div>
      </div>
    </div>
    <div class="col-sm-5">
    <div class="hr-divider m-b">
      <h3 class="hr-divider-content hr-divider-heading">Contact State</h3>
    </div>
    <dl class="m-b">

    </dl>
    <pre style="height:230px;overflow:auto;">{{{model.details}}}</pre>

      <div class="hr-divider m-t m-b">
        <h3 class="hr-divider-content hr-divider-heading">Quick Note</h3>
      </div>
      <form class="form" {{action "newNote" on="submit"}}>
        <div class="form-group">
         {{textarea value=noteContent class="form-control" rows="8"}}
        </div>
        <div class="form-group">
          <button class="btn btn-success btn-block" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{outlet}}
