<div class="dashboard">
    <div class="col-fixed-240 bgFilledGrey8">
      {{partial 'index-stats'}}
      {{partial 'index-steps'}}
      {{partial 'index-announcement'}}
      {{!--partial 'leaderboard'--}}
    </div>
    <div class="col-offset-475">
      {{partial 'index-tasks'}}
    </div>
</div>
{{outlet}}
