<div class="container-fluid">
  <div class="wrapper-index">
    <div class="col-sm-4 bgFilledGrey8">
      {{partial 'index-stats'}} {{partial 'index-steps'}} {{partial 'index-announcement'}}
    </div>
    <div class="col-sm-8">
      {{partial 'index-tasks'}}
    </div>
  </div>
</div>
{{outlet}}

