<div class="hr-divider m-y">
  <h3 class="hr-divider-content hr-divider-heading">
    Tasks
  </h3>
</div>
<ul class="nav nav-bordered m-y" role="tablist">
  <li class="active" role="presentation">
    <a href="#tasks-today" role="tab" data-toggle="tab" aria-controls="tasks-today">Today's Calls <span class="badge">{{model.todayTasks.meta.total-count}}</span></a>
  </li>
  <li role="presentation">
    <a href="#tasks-overdue" role="tab" data-toggle="tab" aria-controls="tasks-overdue">Overdue <span class="badge">{{model.overdueTasks.meta.total-count}}</span></a>
  </li>
  <li role="presentation">
    <a href="#tasks-future" role="tab" data-toggle="tab" aria-controls="tasks-scheduled">Future <span class="badge">{{model.futureTasks.meta.total-count}}</span></a>
  </li>
  <li role="presentation">
    <a href="#tasks-completed" role="tab" data-toggle="tab" aria-controls="tasks-completed">Completed</a>
  </li>
</ul>
<div class="tab-content" style="height:600px;overflow-y:auto;">
  <div role="tabpanel" class="tab-pane active" id="tasks-today">
    <div class="clearfix">
      {{page-numbers content=model.todayTasks class="pull-right"}}
      <div class="statcard p-a m-b">
        <span class="h3 statcard-number">
          {{format-number model.todayTasks.meta.total-count format=",0"}}
        </span>
          <span class="statcard-desc text-mute">tasks(s)</span>
      </div>
    </div>
    <div class="table-full">
      <div class="table-responsive">
        <table class="table" data-sort="table">
          <thead>
            <tr>
              <th class="header headerSortUp">Due</th>
              <th class="header">Subject</th>
              <th class="header">Client</th>
              <th class="header">Step</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.todayTasks as |task|}}
              <tr>
                <td>{{moment-format task.dateDue}}</td>
                <td>{{link-to task.subject 'task' task (query-params backTo="index")}}</td>
                <td>{{task.contact.name}}</td>
                <td class="{{unless task.contact.step 'text-danger'}}">{{or task.contact.step 0}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="tasks-overdue">
    <div class="clearfix">
      {{page-numbers content=model.overdueTasks class="pull-right"}}
      <div class="statcard p-a m-b">
        <span class="h3 statcard-number">
          {{format-number model.overdueTasks.meta.total-count format=",0"}}
        </span>
          <span class="statcard-desc text-mute">tasks(s)</span>
      </div>
    </div>
    <div class="table-full">
      <div class="table-responsive">
        <table class="table" data-sort="table">
          <thead>
            <tr>
              <th class="header headerSortUp">Due</th>
              <th class="header">Subject</th>
              <th class="header">Client</th>
              <th class="header">Step</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.overdueTasks as |task|}}
              <tr>
                <td>{{moment-format task.dateDue}}</td>
                <td>{{link-to task.subject 'task' task (query-params backTo="index")}}</td>
                <td>{{task.contact.name}}</td>
                <td class="{{unless task.contact.step 'text-danger'}}">{{or task.contact.step 0}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="tasks-future">
    <div class="clearfix">
      {{page-numbers content=model.futureTasks class="pull-right"}}
      <div class="statcard p-a m-b">
        <span class="h3 statcard-number">
          {{format-number model.futureTasks.meta.total-count format=",0"}}
        </span>
          <span class="statcard-desc text-mute">tasks(s)</span>
      </div>
    </div>
    <div class="table-full">
      <div class="table-responsive">
        <table class="table" data-sort="table">
          <thead>
            <tr>
              <th class="header headerSortUp">Due</th>
              <th class="header">Subject</th>
              <th class="header">Client</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.futureTasks as |task|}}
              <tr>
                <td>{{moment-format task.dateDue}}</td>
                <td>{{link-to task.subject 'task' task (query-params backTo="index")}}</td>
                <td>{{task.contact.name}}</td>
                <td class="{{unless task.contact.step 'text-danger'}}">{{or task.contact.step 0}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="tasks-completed">
    <div class="clearfix">
      {{page-numbers content=model.completedTasks class="pull-right"}}
      <div class="statcard p-a m-b">
        <span class="h3 statcard-number">
          {{format-number model.completedTasks.meta.total-count format=",0"}}
        </span>
          <span class="statcard-desc text-mute">tasks(s)</span>
      </div>
    </div>
    <div class="table-full">
      <div class="table-responsive">
        <table class="table" data-sort="table">
          <thead>
            <tr>
              <th class="header headerSortUp">Due</th>
              <th class="header">Subject</th>
              <th class="header">Client</th>
              <th class="header">Step</th>
              <th class="header">Completed</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.completedTasks as |task|}}
              <tr>
                <td>{{moment-format task.dateDue}}</td>
                <td>{{link-to task.subject 'task' task (query-params backTo="index")}}</td>
                <td>{{task.contact.name}}</td>
                <td class="{{unless task.contact.step 'text-danger'}}">{{or task.contact.step 0}}</td>
                <td>{{and task.dateComplete (moment-format task.dateComplete)}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
