<div class="container-fluid">
  <div class="row">

    <div class="col-sm-4">
      <div class="hr-divider m-t">
        <h3 class="hr-divider-content hr-divider-heading">Contacts Steps</h3>
      </div>
      <div class="statcard">
        <div class="p-a p-b-0 text-center">
          <span class="statcard-desc"> Step 0 / <small>Total</small></span>
          <h2 class="statcard-number" style="font-size:42pt">
            {{model.summary.step_0}}/<small>{{model.summary.step_total}}</small>
            <small class="label text-lg {{if (gt (div model.summary.step_0 model.summary.step_total) 0.5) 'label-danger' 'label-success'}}">{{format-number (div model.summary.step_0 model.summary.step_total) format="0.0%"}}</small>
          </h2>
        </div>
      </div>
      <div class="hr-divider m-b">
        <h3 class="hr-divider-content hr-divider-heading">Step 0 Aging</h3>
      </div>
      <div class="row statcards">
        <div class="col-sm-4">
          <div class="statcard p-b">
            <div class="p-l">
              <span class="statcard-desc">&lt;&nbsp;24h</span>
              <h2 class="statcard-number">
                {{model.summary.step_0_24h}}
                {{!-- <small class="label label-success">5%</small> --}}
              </h2>
            </div>
            {{!-- <canvas id="sparkline1" width="318" height="79" class="sparkline" data-chart="spark-line" data-value="[{strokeColor: '#1ca8dd', fillColor:'rgba(28,168,221,.03)', data:[28,68,41,43,96,45,100]}]" data-labels="['a', 'b','c','d','e','f','g']" style="width: 318px; height: 79px;"></canvas> --}}
          </div>
        </div>
        <div class="col-sm-4">
          <div class="statcard p-b">
            <div class="p-l">
              <span class="statcard-desc">&lt;&nbsp;5 days</span>
              <h2 class="statcard-number">
                {{model.summary.step_0_5d}}
                {{!-- <small class="label label-danger">1.3%</small> --}}
              </h2>
            </div>
            {{!-- <canvas id="sparkline1" width="318" height="79" class="sparkline" data-chart="spark-line" data-value="[{strokeColor: '#1ca8dd', fillColor:'rgba(28,168,221,.03)', data:[4,34,64,27,96,50,80]}]" data-labels="['a', 'b','c','d','e','f','g']" style="width: 318px; height: 79px;"></canvas> --}}
          </div>
        </div>
        <div class="col-sm-4">
          <div class="statcard statcard-danger blinker">
            <div class="p-l">
              <span class="statcard-desc">> 5 days</span>
              <h2 class="statcard-number">
                {{model.summary.step_0_5dp}}
                {{!-- <small class="label label-success">6.75%</small> --}}
              </h2>
            </div>
            {{!-- <canvas id="sparkline1" width="318" height="79" class="sparkline" data-chart="spark-line" data-value="[{strokeColor: '#1ca8dd', fillColor:'rgba(28,168,221,.03)', data:[12,38,32,60,36,54,68]}]" data-labels="['a', 'b','c','d','e','f','g']" style="width: 318px; height: 79px;"></canvas> --}}
          </div>
        </div>
      </div>

      <div class="hr-divider m-t m-b">
        <h3 class="hr-divider-content hr-divider-heading">
          other steps
        </h3>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="list-group">
            <a class="list-group-item" href="#">
              <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '1') 0.0) model.summary.step_total) format="0.0%"}};"></span>
              <span class="pull-right">
                {{get model.summary.steps '1'}}
                ({{format-number (div (or (get model.summary.steps '1') 0) model.summary.step_total) format="0.0%"}})
              </span>
              Step 1
            </a>

            <a class="list-group-item" href="#">
              <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '2') 0.0) model.summary.step_total) format="0.0%"}};"></span>
              <span class="pull-right">
                {{get model.summary.steps '2'}}
                ({{format-number (div (or (get model.summary.steps '2') 0) model.summary.step_total) format="0.0%"}})
              </span>
              Step 2
            </a>

            <a class="list-group-item" href="#">
              <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '3') 0.0) model.summary.step_total) format="0.0%"}};"></span>
              <span class="pull-right">
                {{get model.summary.steps '3'}}
                ({{format-number (div (or (get model.summary.steps '3') 0) model.summary.step_total) format="0.0%"}})
              </span>
              Step 3
            </a>

            <a class="list-group-item" href="#">
              <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '4') 0.0) model.summary.step_total) format="0.0%"}};"></span>
              <span class="pull-right">
                {{or (get model.summary.steps '4') 0}}
                ({{format-number (div (or (get model.summary.steps '4') 0) model.summary.step_total) format="0.0%"}})
              </span>
              Step 4
            </a>

            <a class="list-group-item" href="#">
              <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '5') 0.0) model.summary.step_total) format="0.0%"}};"></span>
              <span class="pull-right">
                {{or (get model.summary.steps '5') 0}}
                ({{format-number (div (or (get model.summary.steps '5') 0) model.summary.step_total) format="0.0%"}})
              </span>
              Step 5
            </a>

            <a class="list-group-item" href="#">
              <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '6') 0.0) model.summary.step_total) format="0.0%"}};"></span>
              <span class="pull-right">
                {{or (get model.summary.steps '6') 0}}
                ({{format-number (div (or (get model.summary.steps '6') 0) model.summary.step_total) format="0.0%"}})
              </span>
              Step 6
            </a>

            <a class="list-group-item" href="#">
              <span class="list-group-progress" style="width: 1.7%;"></span>
              <span class="pull-right">
                {{get model.summary.steps '7'}}
                ({{format-number (div (or (get model.summary.steps '7')) model.summary.step_total) '0.0%'}})
              </span>
              Step 7
            </a>

            <a class="list-group-item" href="#">
              <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '8') 0.0) model.summary.step_total) format="0.0%"}};"></span>
              <span class="pull-right">
                {{or (get model.summary.steps '8') 0}}
                ({{format-number (div (or (get model.summary.steps '8') 0) model.summary.step_total) format="0.0%"}})
              </span>
              Step 8
            </a>

            <a class="list-group-item" href="#">
              <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '9') 0.0) model.summary.step_total) format="0.0%"}};"></span>
              <span class="pull-right">
                {{or (get model.summary.steps '9') 0}}
                ({{format-number (div (or (get model.summary.steps '9') 0) model.summary.step_total) format="0.0%"}})
              </span>
              Step 9
            </a>

            <a class="list-group-item" href="#">
              <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '10') 0.0) model.summary.step_total) format="0.0%"}};"></span>
              <span class="pull-right">
                {{or (get model.summary.steps '10') 0}}
                ({{format-number (div (or (get model.summary.steps '10') 0) model.summary.step_total) format="0.0%"}})
              </span>
              Step 10
            </a>

            <a class="list-group-item" href="#">
              <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '11') 0.0) model.summary.step_total) format="0.0%"}};"></span>
              <span class="pull-right">
                {{or (get model.summary.steps '11') 0}}
                ({{format-number (div (or (get model.summary.steps '11') 0) model.summary.step_total) format="0.0%"}})
              </span>
              Step 11
            </a>

          </div>

        </div>
        <div class="col-sm-6">
          <div class="list-group">
            <a class="list-group-item" href="#">
              <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '12') 0.0) model.summary.step_total) format="0.0%"}};"></span>
              <span class="pull-right">
                {{get model.summary.steps '12'}}
                ({{format-number (div (or (get model.summary.steps '12') 0) model.summary.step_total) format="0.0%"}})
              </span>
              Step 12
            </a>

            <a class="list-group-item" href="#">
              <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '13') 0.0) model.summary.step_total) format="0.0%"}};"></span>
              <span class="pull-right">
                {{get model.summary.steps '13'}}
                ({{format-number (div (or (get model.summary.steps '13') 0) model.summary.step_total) format="0.0%"}})
              </span>
              Step 13
            </a>

            <a class="list-group-item" href="#">
              <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '14') 0.0) model.summary.step_total) format="0.0%"}};"></span>
              <span class="pull-right">
                {{get model.summary.steps '14'}}
                ({{format-number (div (or (get model.summary.steps '14') 0) model.summary.step_total) format="0.0%"}})
              </span>
              Step 14
            </a>

            <a class="list-group-item" href="#">
              <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '15') 0.0) model.summary.step_total) format="0.0%"}};"></span>
              <span class="pull-right">
                {{or (get model.summary.steps '15') 0}}
                ({{format-number (div (or (get model.summary.steps '15') 0) model.summary.step_total) format="0.0%"}})
              </span>
              Step 15
            </a>

            <a class="list-group-item" href="#">
              <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '16') 0.0) model.summary.step_total) format="0.0%"}};"></span>
              <span class="pull-right">
                {{or (get model.summary.steps '16') 0}}
                ({{format-number (div (or (get model.summary.steps '16') 0) model.summary.step_total) format="0.0%"}})
              </span>
              Step 16
            </a>

            <a class="list-group-item" href="#">
              <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '17') 0.0) model.summary.step_total) format="0.0%"}};"></span>
              <span class="pull-right">
                {{or (get model.summary.steps '17') 0}}
                ({{format-number (div (or (get model.summary.steps '17') 0) model.summary.step_total) format="0.0%"}})
              </span>
              Step 17
            </a>

            <a class="list-group-item" href="#">
              <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '18') 0.0) model.summary.step_total) format="0.0%"}};"></span>
              <span class="pull-right">
                {{or (get model.summary.steps '18') 0}}
                ({{format-number (div (or (get model.summary.steps '18') 0) model.summary.step_total) format="0.0%"}})
              </span>
              Step 18
            </a>

            <a class="list-group-item" href="#">
              <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '19') 0.0) model.summary.step_total) format="0.0%"}};"></span>
              <span class="pull-right">
                {{or (get model.summary.steps '19') 0}}
                ({{format-number (div (or (get model.summary.steps '19') 0) model.summary.step_total) format="0.0%"}})
              </span>
              Step 19
            </a>

            <a class="list-group-item" href="#">
              <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '20') 0.0) model.summary.step_total) format="0.0%"}};"></span>
              <span class="pull-right">
                {{or (get model.summary.steps '20') 0}}
                ({{format-number (div (or (get model.summary.steps '20') 0) model.summary.step_total) format="0.0%"}})
              </span>
              Step 20
            </a>

            <a class="list-group-item" href="#">
              <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '21') 0.0) model.summary.step_total) format="0.0%"}};"></span>
              <span class="pull-right">
                {{or (get model.summary.steps '21') 0}}
                ({{format-number (div (or (get model.summary.steps '21') 0) model.summary.step_total) format="0.0%"}})
              </span>
              Step 21
            </a>

          </div>

        </div>
      </div>
    </div>

    {{!-- <div class="col-sm-4">

      <div class="hr-divider m-t m-b">
        <h3 class="hr-divider-content hr-divider-heading">Contact Status</h3>
      </div>

      <div class="row statcards">
        <div class="col-sm-6 col-md-4 m-b">
          <div class="statcard">
            <div class="p-a">
              <span class="statcard-desc">No&nbsp;Contact</span>
              <h2 class="statcard-number">
                5
                <small class="label label-success">5%</small>
              </h2>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 m-b">
          <div class="statcard">
            <div class="p-a">
              <span class="statcard-desc">Unreachable</span>
              <h2 class="statcard-number">
                758
                <small class="label label-danger">1.3%</small>
              </h2>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 m-b">
          <div class="statcard">
            <div class="p-a">
              <span class="statcard-desc">Sign-ups</span>
              <h2 class="statcard-number">
                1,293
                <small class="label label-success">6.75%</small>
              </h2>
            </div>
          </div>
        </div>
      </div>

    </div>
 --}}
    <div class="col-sm-8">
      {{partial 'index-tasks'}}
    </div>
  </div>
</div>
{{outlet}}
