<div class="hr-divider m-y">
  <h3 class="hr-divider-content hr-divider-heading">
    21 Steps
  </h3>
</div>

    <div class="list-group compact">
      {{#link-to 'contacts'(query-params step="_blank") class="list-group-item"}}
        <span class="list-group-progress" style="width: {{format-number (div (or model.summary.step_0 0.0) model.summary.step_total) format="0.0%"}};"></span>
        <span class="pull-right">
          {{model.summary.step_0}}
          ({{format-number (div (or model.summary.step_0 0) model.summary.step_total) format="0.0%"}})
        </span>
        0
      {{/link-to}}

      {{#link-to 'contacts'(query-params step="1") class="list-group-item"}}
        <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '1') 0.0) model.summary.step_total) format="0.0%"}};"></span>
        <span class="pull-right">
          {{get model.summary.steps '1'}}
          ({{format-number (div (or (get model.summary.steps '1') 0) model.summary.step_total) format="0.0%"}})
        </span>
        1
      {{/link-to}}

      {{#link-to 'contacts'(query-params step="2") class="list-group-item"}}
        <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '2') 0.0) model.summary.step_total) format="0.0%"}};"></span>
        <span class="pull-right">
          {{get model.summary.steps '2'}}
          ({{format-number (div (or (get model.summary.steps '2') 0) model.summary.step_total) format="0.0%"}})
        </span>
        2
      {{/link-to}}

      {{#link-to 'contacts'(query-params step="3") class="list-group-item"}}
        <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '3') 0.0) model.summary.step_total) format="0.0%"}};"></span>
        <span class="pull-right">
          {{get model.summary.steps '3'}}
          ({{format-number (div (or (get model.summary.steps '3') 0) model.summary.step_total) format="0.0%"}})
        </span>
        3
      {{/link-to}}

      {{#link-to 'contacts'(query-params step="4") class="list-group-item"}}
        <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '4') 0.0) model.summary.step_total) format="0.0%"}};"></span>
        <span class="pull-right">
          {{or (get model.summary.steps '4') 0}}
          ({{format-number (div (or (get model.summary.steps '4') 0) model.summary.step_total) format="0.0%"}})
        </span>
        4
      {{/link-to}}

      {{#link-to 'contacts'(query-params step="5") class="list-group-item"}}
        <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '5') 0.0) model.summary.step_total) format="0.0%"}};"></span>
        <span class="pull-right">
          {{or (get model.summary.steps '5') 0}}
          ({{format-number (div (or (get model.summary.steps '5') 0) model.summary.step_total) format="0.0%"}})
        </span>
        5
      {{/link-to}}

      {{#link-to 'contacts'(query-params step="6") class="list-group-item"}}
        <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '6') 0.0) model.summary.step_total) format="0.0%"}};"></span>
        <span class="pull-right">
          {{or (get model.summary.steps '6') 0}}
          ({{format-number (div (or (get model.summary.steps '6') 0) model.summary.step_total) format="0.0%"}})
        </span>
        6
      {{/link-to}}

      {{#link-to 'contacts'(query-params step="7") class="list-group-item"}}
      <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '7') 0.0) model.summary.step_total) format="0.0%"}};"></span>
        <span class="pull-right">
          {{get model.summary.steps '7'}}
          ({{format-number (div (or (get model.summary.steps '7')) model.summary.step_total) format='0.0%'}})
        </span>
        7
      {{/link-to}}

      {{#link-to 'contacts'(query-params step="8") class="list-group-item"}}
        <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '8') 0.0) model.summary.step_total) format="0.0%"}};"></span>
        <span class="pull-right">
          {{or (get model.summary.steps '8') 0}}
          ({{format-number (div (or (get model.summary.steps '8') 0) model.summary.step_total) format="0.0%"}})
        </span>
        8
      {{/link-to}}

      {{#link-to 'contacts'(query-params step="9") class="list-group-item"}}
        <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '9') 0.0) model.summary.step_total) format="0.0%"}};"></span>
        <span class="pull-right">
          {{or (get model.summary.steps '9') 0}}
          ({{format-number (div (or (get model.summary.steps '9') 0) model.summary.step_total) format="0.0%"}})
        </span>
        9
      {{/link-to}}

      {{#link-to 'contacts'(query-params step="10") class="list-group-item"}}
        <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '10') 0.0) model.summary.step_total) format="0.0%"}};"></span>
        <span class="pull-right">
          {{or (get model.summary.steps '10') 0}}
          ({{format-number (div (or (get model.summary.steps '10') 0) model.summary.step_total) format="0.0%"}})
        </span>
        10
      {{/link-to}}

      {{#link-to 'contacts'(query-params step="11") class="list-group-item"}}
        <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '11') 0.0) model.summary.step_total) format="0.0%"}};"></span>
        <span class="pull-right">
          {{or (get model.summary.steps '11') 0}}
          ({{format-number (div (or (get model.summary.steps '11') 0) model.summary.step_total) format="0.0%"}})
        </span>
        11
      {{/link-to}}

      {{#link-to 'contacts'(query-params step="12") class="list-group-item"}}
        <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '12') 0.0) model.summary.step_total) format="0.0%"}};"></span>
        <span class="pull-right">
          {{get model.summary.steps '12'}}
          ({{format-number (div (or (get model.summary.steps '12') 0) model.summary.step_total) format="0.0%"}})
        </span>
        12
      {{/link-to}}

      {{#link-to 'contacts'(query-params step="13") class="list-group-item"}}
        <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '13') 0.0) model.summary.step_total) format="0.0%"}};"></span>
        <span class="pull-right">
          {{get model.summary.steps '13'}}
          ({{format-number (div (or (get model.summary.steps '13') 0) model.summary.step_total) format="0.0%"}})
        </span>
        13
      {{/link-to}}

      {{#link-to 'contacts'(query-params step="14") class="list-group-item"}}
        <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '14') 0.0) model.summary.step_total) format="0.0%"}};"></span>
        <span class="pull-right">
          {{get model.summary.steps '14'}}
          ({{format-number (div (or (get model.summary.steps '14') 0) model.summary.step_total) format="0.0%"}})
        </span>
        14
      {{/link-to}}

      {{#link-to 'contacts'(query-params step="15") class="list-group-item"}}
        <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '15') 0.0) model.summary.step_total) format="0.0%"}};"></span>
        <span class="pull-right">
          {{or (get model.summary.steps '15') 0}}
          ({{format-number (div (or (get model.summary.steps '15') 0) model.summary.step_total) format="0.0%"}})
        </span>
        15
      {{/link-to}}

      {{#link-to 'contacts'(query-params step="16") class="list-group-item"}}
        <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '16') 0.0) model.summary.step_total) format="0.0%"}};"></span>
        <span class="pull-right">
          {{or (get model.summary.steps '16') 0}}
          ({{format-number (div (or (get model.summary.steps '16') 0) model.summary.step_total) format="0.0%"}})
        </span>
        16
      {{/link-to}}

      {{#link-to 'contacts'(query-params step="17") class="list-group-item"}}
        <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '17') 0.0) model.summary.step_total) format="0.0%"}};"></span>
        <span class="pull-right">
          {{or (get model.summary.steps '17') 0}}
          ({{format-number (div (or (get model.summary.steps '17') 0) model.summary.step_total) format="0.0%"}})
        </span>
        17
      {{/link-to}}

      {{#link-to 'contacts'(query-params step="18") class="list-group-item"}}
        <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '18') 0.0) model.summary.step_total) format="0.0%"}};"></span>
        <span class="pull-right">
          {{or (get model.summary.steps '18') 0}}
          ({{format-number (div (or (get model.summary.steps '18') 0) model.summary.step_total) format="0.0%"}})
        </span>
        18
      {{/link-to}}

      {{#link-to 'contacts'(query-params step="19") class="list-group-item"}}
        <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '19') 0.0) model.summary.step_total) format="0.0%"}};"></span>
        <span class="pull-right">
          {{or (get model.summary.steps '19') 0}}
          ({{format-number (div (or (get model.summary.steps '19') 0) model.summary.step_total) format="0.0%"}})
        </span>
        19
      {{/link-to}}

      {{#link-to 'contacts'(query-params step="20") class="list-group-item"}}
        <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '20') 0.0) model.summary.step_total) format="0.0%"}};"></span>
        <span class="pull-right">
          {{or (get model.summary.steps '20') 0}}
          ({{format-number (div (or (get model.summary.steps '20') 0) model.summary.step_total) format="0.0%"}})
        </span>
        20
      {{/link-to}}

      {{#link-to 'contacts'(query-params step="21") class="list-group-item"}}
        <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '21') 0.0) model.summary.step_total) format="0.0%"}};"></span>
        <span class="pull-right">
          {{or (get model.summary.steps '21') 0}}
          ({{format-number (div (or (get model.summary.steps '21') 0) model.summary.step_total) format="0.0%"}})
        </span>
        21
      {{/link-to}}
    </div>

    <div class="hr-divider m-y">
      <h3 class="hr-divider-content hr-divider-heading">
        Other Steps
      </h3>
    </div>

    <div class="list-group compact">
      {{#link-to 'contacts'(query-params step="130") class="list-group-item"}}
        <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '130') 0.0) model.summary.step_total) format="0.0%"}};"></span>
        <span class="pull-right">
          {{get model.summary.steps '130'}}
          ({{format-number (div (or (get model.summary.steps '130') 0) model.summary.step_total) format="0.0%"}})
        </span>
        130
      {{/link-to}}

      {{#link-to 'contacts'(query-params step="-1") class="list-group-item"}}
        <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '-1') 0.0) model.summary.step_total) format="0.0%"}};"></span>
        <span class="pull-right">
          {{get model.summary.steps '-1'}}
          ({{format-number (div (or (get model.summary.steps '-1') 0) model.summary.step_total) format="0.0%"}})
        </span>
        Refunded
      {{/link-to}}

      {{#link-to 'contacts'(query-params step="-2") class="list-group-item"}}
        <span class="list-group-progress" style="width: {{format-number (div (or (get model.summary.steps '-2') 0.0) model.summary.step_total) format="0.0%"}};"></span>
        <span class="pull-right">
          {{get model.summary.steps '-2'}}
          ({{format-number (div (or (get model.summary.steps '-2') 0) model.summary.step_total) format="0.0%"}})
        </span>
        Voided
      {{/link-to}}
    </div>
