<div class="hr-divider m-t m-b">
  <h3 class="hr-divider-content hr-divider-heading">Client History & Notes</h3>
</div>
<div class="table-responsive">
  <div class="position-fixed content-block" style="height:{{blockHeightNote}}px">
    <table class="table" data-sort="table">
      <thead>
        <tr>
          <th class="header">Author</th>
          <th class="header headerSortDown">Date</th>
          <th class="header">Content</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each notes_and_task_notes as |note|}}
          {{#if (eq note.status 'active')}}
            <tr class="{{if note.note 'text-info'}}">
              <td><small>{{note.user.name}}</small></td>
              <td><small>{{moment-format note.date}}</small></td>
              <td>{{breakLine note.note}} {{breakLine note.content}}&nbsp;</td>
              <td>
                {{#if note.content}}
                  {{link-to 'Discard' (query-params noterf=note.id) tagName="button" class="btn btn-sm btn-default"}}
                  {{#if noterf}}
                      {{to-elsewhere named='modal' send=(hash body=(component 'note-discard' discard=(action 'discNote') dismiss=(action (mut noterf) null)) onOutsideClick=(action (mut noterf) null)) }}
                  {{/if}}
                {{/if}}
                {{#if note.note}}
                  {{link-to 'Discard' (query-params tnoterf=note.id) tagName="button" class="btn btn-sm btn-default"}}
                  {{#if tnoterf}}
                      {{to-elsewhere named='modal' send=(hash body=(component 'note-discard' discard=(action 'discTaskNote') dismiss=(action (mut tnoterf) null)) onOutsideClick=(action (mut tnoterf) null)) }}
                  {{/if}}
                {{/if}}
              </td>
            </tr>
          {{/if}}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
