<div class="hr-divider m-y">
  <h3 class="hr-divider-content hr-divider-heading">Task&nbsp;</h3>
</div>
<div class="hr-divider m-y">
  <h3 class="hr-divider-content hr-divider-heading">Client&nbsp;</h3>
</div>
<dl>
  <dt>Reference:</<dt>
    <dd>{{model.reference}}<a target="_blank" href="https://app.ontraport.com/#!/model/edit&id={{model.reference}}"> (Link to OAP)</a></dd>
    <dt>Name:</<dt>
    <dd>{{model.name}}&nbsp;</dd>
    <dt>Email:</dt>
  <dd>{{model.email}}&nbsp;</dd>
  <dt>Phone:</dt>
  <dd>{{model.homePhone}}&nbsp;</dd>
  <dt>City:</dt>
  <dd>{{city}}&nbsp;</dd>
  <dt>State:</dt>
  <dd>{{state}}&nbsp;</dd>
  <dt>Country:</dt>
  <dd>{{country}}&nbsp;</dd>
  <dt>Time Zone:</dt>
  <dd>{{model.timeZone}}&nbsp;</dd>
</dl>
<div class="hr-divider m-y">
  <h3 class="hr-divider-content hr-divider-heading">Recent Sales&nbsp;</h3>
</div>
<div class="hr-divider m-y">
  <h3 class="hr-divider-content hr-divider-heading">Pending Tasks&nbsp;</h3>
</div>
