<div class="container p-t-lg">
  <div class="dashhead">
    <div class="dashhead-titles">
      <h6 class="dashhead-subtitle">Tasks</h6>
      <h2 class="dashhead-title">Search Tasks</h2>
    </div>

    <div class="btn-toolbar dashhead-toolbar">
      <div class="btn-toolbar-item input-with-icon">
        <input type="text" value="01/01/15 - 01/08/15" class="form-control" data-provide="datepicker">
        <span class="icon icon-calendar"></span>
      </div>
    </div>
  </div>
  <div class="flextable table-actions">
    <div class="flextable-item flextable-primary">
      <div class="btn-toolbar-item input-with-icon">
        <input type="text" class="form-control input-block" placeholder="Search tasks">
        <span class="icon icon-magnifying-glass"></span>
      </div>
    </div>
    <div class="flextable-item">
      <div class="btn-group">
        <button type="button" class="btn btn-primary-outline">
          <span class="icon icon-pencil"></span>
        </button>
        <button type="button" class="btn btn-primary-outline">
          <span class="icon icon-erase"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="text-center">
    <ul class="pagination">
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">«</span>
        </a>
      </li>
      <li class="active">{{link-to "1" "tasks"}}</li>
      <li>{{link-to "2" "tasks"}}</li>
      <li>{{link-to "3" "tasks"}}</li>
      <li>{{link-to "4" "tasks"}}</li>
      <li>{{link-to "5" "tasks"}}</li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">»</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="table-full">
    <div class="table-responsive">
      <table class="table" data-sort="table">
        <thead>
          <tr>
            <th class="header">
              <input type="checkbox" class="select-all" id="selectAll">
            </th>
            <th class="header headerSortDown">Due</th>
            <th class="header">Contact</th>
            <th class="header">Subject</th>
            <th class="header">Completed</th>
            <th class="header">Step</th>
          </tr>
        </thead>
        <tbody>
          {{#each model as |task|}}
            <tr>
              <td>
                <input type="checkbox" class="select-row">
              </td>
              <td>{{moment-format task.dateDue "MMM Do YY"}}</td>
              <td>{{task.contact.name}}</td>
              <td>{{link-to task.subject 'task' task}}</td>
              <td>{{and task.dateComplete (moment-format task.dateComplete "MMM Do YY")}}</td>
              <td>{{task.stepNum}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  {{outlet}}

</div>
{{outlet}}
