<div class="search-col">
  <div class="dashhead">
    <h2 class="dashhead-title">Calls</h2>
  </div>
  <form class="form" {{action 'queryChanged' on="submit" }}>
    <div class="form-group">
      {{bootstrap-datepicker value=startDateToJSDate format="yyyy-mm-dd" placeholder="Due date (from)"
                             class="form-control" autoclose=true forceDateValue=true}}
    </div>
    <div class="form-group">
      {{bootstrap-datepicker value=endDateToJSDate format="yyyy-mm-dd" placeholder="Due date (to)" class="form-control"
                             autoclose=true forceDateValue=true}}
    </div>
    <div class="form-group">
      {{input type="text" value=contact class="form-control" placeholder="Name/Email/Ref."}}
    </div>
    <div class="form-group">
      {{input type="text" value=subject class="form-control" placeholder="Subject"}}
    </div>
    <div class="form-group">
      {{input type="text" value=contact_step class="form-control" placeholder="Step"}}
    </div>
    <div class="form-group">
      {{input type="text" value=contact_time_zone class="form-control" placeholder="Time Zone"}}
    </div>
    <div class="form-group">
      {{ember-selectize content=statuses selection=status_eq placeholder="Select Status" }}
    </div>
    <div class="form-group">
      {{ember-selectize content=taskOwners selection=user_name placeholder="Select Owner" }}
    </div>
    <div class="form-group">
      <div class="row">
        <div class="hr-divider m-t">
          <h3 class="hr-divider-content hr-divider-heading">Client's Time</h3>
        </div>
        <div class="col-md-6">From:</div>
        <div class="col-md-6">To:</div>
        <div class="col-md-6">{{ember-selectize content=utcHour selection=valueField optionValuePath="content.id"
                                                optionLabelPath="content.label"
                                                select-value=(action 'selectuUtc' 'offset_from')
                                                placeholder="H"}} </div>
        <div class="col-md-6">{{ember-selectize content=utcHour selection=labelField optionValuePath="content.id"
                                                optionLabelPath="content.label" placeholder="H"
                                                select-value=(action 'selectuUtc' 'offset_to')}} </div>
      </div>
    </div>
    <div class="col-md-6">
      <button type="reset" {{action 'queryClear' }} class="btn btn-block btn-default">Reset</button>
    </div>
    <div class="col-md-6">
      <button type="submit" class="btn btn-block btn-primary">Search</button>
    </div>
  </form>
</div>
<div class="container-fluid search-panel">
  <div class="col-md-12 ">
    <div class="clearfix">
      {{page-numbers content=model class="pull-right"}}
      <div class="statcard p-a m-b">
        <span class="h3 statcard-number">
          {{format-number model.meta.total-count format=",0"}}
        </span>
        <span class="statcard-desc text-mute">Call(s)</span>
      </div>
    </div>
    <div class="table-full">
      <div class="table-responsive">
        <table class="table table-condensed table-hover" data-sort="table">
          <thead>
            <tr>
              <th class="header {{if (eq model.meta.sort-attr-name 'date_due')
                                     (if (eq model.meta.sort-dir 'asc') 'headerSortDown' 'headerSortUp')}}">
                {{link-to 'Due'
                          (query-params sort="date_due" sortDir=(if (eq model.meta.sort-dir 'desc') 'asc' 'desc'))}}
              </th>
              <th class="header {{if (eq model.meta.sort-attr-name 'subject')
                                     (if (eq model.meta.sort-dir 'asc') 'headerSortDown' 'headerSortUp')}}">
                {{link-to 'Subject'
                          (query-params sort="subject" sortDir=(if (eq model.meta.sort-dir 'desc') 'asc' 'desc'))}}
              </th>
              <th class="header {{if (eq model.meta.sort-attr-name 'name')
                                     (if (eq model.meta.sort-dir 'asc') 'headerSortDown' 'headerSortUp')}}">
                {{link-to 'Client'
                          (query-params sort="contact_name" sortDir=(if (eq model.meta.sort-dir 'desc') 'asc' 'desc'))}}
              </th>
              <th class="header {{if (eq model.meta.sort-attr-name 'name')
                                     (if (eq model.meta.sort-dir 'asc') 'headerSortDown' 'headerSortUp')}}">
                {{link-to 'Owner'
                          (query-params sort="user_name" sortDir=(if (eq model.meta.sort-dir 'desc') 'asc' 'desc'))}}
              </th>
              <th class="header {{if (eq model.meta.sort-attr-name 'step')
                                     (if (eq model.meta.sort-dir 'asc') 'headerSortDown' 'headerSortUp')}}">
                {{link-to 'Step'
                          (query-params sort="contact_step" sortDir=(if (eq model.meta.sort-dir 'desc') 'asc' 'desc'))}}
              </th>
              <th class="header {{if (eq model.meta.sort-attr-name 'time_zone')
                                     (if (eq model.meta.sort-dir 'asc') 'headerSortDown' 'headerSortUp')}}">
                {{link-to 'Time Zone'
                          (query-params sort="contact_time_zone" sortDir=(if (eq model.meta.sort-dir 'desc') 'asc' 'desc'))}}
              </th>
              <th class="header {{if (eq model.meta.sort-attr-name 'utcOffset')
                                     (if (eq model.meta.sort-dir 'asc') 'headerSortDown' 'headerSortUp')}}">
                {{link-to 'Local Time'
                          (query-params sort="contact_utc_offset" sortDir=(if (eq model.meta.sort-dir 'desc') 'asc' 'desc'))}}
              </th>
              <th class="header {{if (eq model.meta.sort-attr-name 'status')
                                     (if (eq model.meta.sort-dir 'asc') 'headerSortDown' 'headerSortUp')}}">
                {{link-to 'Status'
                          (query-params sort="status" sortDir=(if (eq model.meta.sort-dir 'desc') 'asc' 'desc'))}}
              </th>
              <th class="header {{if (eq model.meta.sort-attr-name 'outcome')
                                     (if (eq model.meta.sort-dir 'asc') 'headerSortDown' 'headerSortUp')}}">
                {{link-to 'Outcome'
                          (query-params sort="outcome" sortDir=(if (eq model.meta.sort-dir 'desc') 'asc' 'desc'))}}
              </th>
            </tr>
          </thead>
          {{#if model.loading}}
            <div class="padding-200">
              {{ember-spinner}}
            </div>
          {{else}}
            <tbody>
              {{#unless model.length}}
                <div class="m-a-1">
                  Your search returned no result
                </div>
              {{else}}
                {{#each model as |task|}}
                  <tr class="{{if task.isOverdue 'warning'}}">
                    <td class="{{if task.isOverdue 'text-danger'}}">{{moment-format task.dateDue}}</td>
                    <td>{{link-to task.subject 'task' task}}</td>
                    <td>{{task.contact.name}}</td>
                    <td>{{task.user.name}}</td>
                    <td align="center" class="{{unless task.contact.step 'text-danger'}}">{{or task.contact.step 0}}</td>
                    <td>{{task.contact.timeZone}}</td>
                    <td>
                      {{#unless (eq contact.timeZone null)}}
                        {{current-time task.contact.timeZone}}
                      {{/unless}}
                    </td>
                    <td>{{task.status}}</td>
                    <td>{{task.outcome}}</td>
                  </tr>
                {{/each}}
              {{/unless}}
            </tbody>
          {{/if}}
        </table>
      </div>
    </div>
  </div>
</div>
{{outlet}}

