<div class="container-fluid p-t">
  <div class="dashhead">
    <div class="dashhead-titles">
      <h6 class="dashhead-subtitle">
        {{link-to '<< Tasks' (or backTo 'tasks')}}
      </h6>
      <h2 class="dashhead-title">Processing Tasks #{{model.reference}}</h2>
    </div>

    <div class="btn-toolbar dashhead-toolbar">
       <button {{action 'taskComplete'}}  class="btn btn-danger" disabled={{model.dateComplete}}>Complete Your Task</button>

     {{#link-to (query-params step=model.contact.step) tagName='button' class='btn btn-primary'}}
              Change Step
     {{/link-to}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">

       {{render '-task-details' model}}
    </div>
    <div class="col-sm-5">
      {{render 'contact-details' model.contact}}
    </div>
    <div class="col-sm-4">

      <div class="hr-divider m-t m-b">
       <h3 class="hr-divider-content hr-divider-heading">Contact Notes</h3>
     </div>


    <div class="table-responsive" style="height:400px;overflow-y:auto;">
        <table class="table" data-sort="table">
          <thead>
            <tr>
              <th class="header headerSortDown">Date</th>
              <th class="header">Content</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.contact.notes as |note|}}
            <tr>
              <td>{{moment-format note.date}}</td>
              <td>{{note.content}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <form class="form" {{action "newNote" on="submit"}}>
        <div class="form-group">
         {{textarea value=noteContent class="form-control" rows="8"}}
        </div>
        <div class="form-group">
          <button class="btn btn-success btn-block" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{outlet}}
