<div class="container-fluid p-t">
  <div class="row">
    <div class="col-sm-3">
      <div class="dashhead">
        <div class="dashhead-titles">
          <h6 class="dashhead-subtitle">
            {{link-to '<< Tasks' 'tasks'}}
          </h6>
          <h2 class="dashhead-title">Contact Details</h2>
        </div>

        <div class="btn-toolbar dashhead-toolbar">
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-body">
          <dl>
            <dt>Date:</dt>
            <dd> November 29, 2015 07:13</dd>
            <dt>Date Last Modified:</dt>
            <dd>August 08, 2016 21:58 </dd>
            <<dt>First Name:</<dt>
            <dd>William</dd>
            <dt>Last Name:</dt>
            <dd>Glover</dd>
            <dt>Reference:</dt>
            <dd>633456</dd>
            <dt>Source:</dt>
            <dd>OAP</dd>
            <dt>Email:</dt>
            <dd>Lilwillyboobboo@gmail.com</dd>
            <dt>Step:</dt>
            <dd>2</dd>
            <dt>L1: MTTB Coach:</dt>
            <dd>Tammy Bee</dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="hr-divider m-t m-b">
        <h3 class="hr-divider-content hr-divider-heading">Task Details</h3>
      </div>
      <dl>
        <dt>Date assigned:</dt>
        <dd>{{moment-format model.dateAssigned 'MMM Do YY'}}</dd>
        <dt>Date due:</dt>
        <dd>{{moment-format model.dateDue 'MMM Do YY'}}</dd>
        <dt>Date complete:</dt>
        <dd>{{and model.dateComplete (moment-format model.dateComplete 'MMM Do YY')}}</dd>
        <dt>Reference:</dt>
        <dd>{{model.reference}} ({{model.source}})</dd>
        <dt>Subject:</dt>
        <dd>{{model.subject}}</dd>
        <dt>Step num:</dt>
        <dd>{{model.step}}</dd>
      </dl>
      <hr>

      <pre>{{{model.content}}}</pre> </div>
    <div class="col-sm-5">
      <div class="hr-divider m-t m-b">
        <h3 class="hr-divider-content hr-divider-heading">Quick stats</h3>
      </div>
      <div class="table-full" style="height:400px;overflow-y:auto;">
        <div class="table-responsive">
          <table class="table" data-sort="table">
            <thead>
              <tr>
                <th class="header">
                  <input type="checkbox" class="select-all" id="selectAll">
                </th>
                <th class="header headerSortDown">Date</th>
                <th class="header">Subject</th>
                <th class="header">Completed</th>
              </tr>
            </thead>
            <tbody>
              {{#each task.contact.tasks as |task|}}
              <tr>
                <td></td>
                <td>{{task.subject}}</td>
                <td></td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
      <div class="hr-divider m-t m-b">
        <h3 class="hr-divider-content hr-divider-heading">Quick stats</h3>
      </div>
      <form class="form">
        <div class="form-group">
          <textarea class="form-control" rows="8"></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-success btn-block">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{outlet}}
