<div class="container-fluid p-t">
  <div class="row">
    <div class="col-sm-3">
      <div class="dashhead">
        <div class="dashhead-titles">
          <h6 class="dashhead-subtitle">
            {{link-to '<< Tasks' 'tasks'}}
          </h6>
          <h2 class="dashhead-title">Contact Details</h2>
        </div>

        <div class="btn-toolbar dashhead-toolbar">
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-body">
          <strong>Date:</strong>
          <br /> November 29, 2015 07:13
          <br>
          <strong>Date Last Modified:</strong>
          <br /> August 08, 2016 21:58
          <br>
          <strong>First Name:</strong>
          <br />William
          <br>
          <strong>Last Name:</strong>
          <br /> Glover
          <br>
          <strong>Reference:</strong>
          <br />633456
          <br>
          <strong>Source:</strong> OAP
          <br>
          <strong>Email:</strong>
          <br />Lilwillyboobboo@gmail.com
          <br>
          <strong>Step:</strong>
          <br />2
          <br>
          <strong>L1: MTTB Coach:</strong>
          <br /> Tammy Bee
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="hr-divider m-t m-b">
        <h3 class="hr-divider-content hr-divider-heading">Quick stats</h3>
      </div>
      <strong>Date assigned:</strong> August 09, 2016 23:57
      <br>
      <strong>Date due:</strong> August 12, 2016 23:57
      <br>
      <strong>Date complete:</strong>
      <br>
      <strong>Reference:</strong> 1315389
      <br>
      <strong>Source:</strong> OAP
      <br>
      <strong>Subject:</strong> 21 Step Business: Call#2 Check in for Steps 2
      <br>
      <strong>Step num:</strong> 17
      <br>
      <strong>Contact:</strong>
      <a href="/contacts/341278">William Glover</a>
      <br>
      <pre>{{{model.content}}}</pre> </div>
    <div class="col-sm-5">
      <div class="hr-divider m-t m-b">
        <h3 class="hr-divider-content hr-divider-heading">Quick stats</h3>
      </div>
      <div class="table-full" style="height:400px;overflow-y:auto;">
        <div class="table-responsive">
          <table class="table" data-sort="table">
            <thead>
              <tr>
                <th class="header">
                  <input type="checkbox" class="select-all" id="selectAll">
                </th>
                <th class="header headerSortDown">Order</th>
                <th class="header">Customer name</th>
                <th class="header">Description</th>
                <th class="header">Date</th>
                <th class="header">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input type="checkbox" class="select-row">
                </td>
                <td>{{link-to "#10001" "task"}}</td>
                <td>First Last</td>
                <td>Admin theme, marketing theme</td>
                <td>01/01/2015</td>
                <td>$200.00</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" class="select-row">
                </td>
                <td>{{link-to "#10002" "task"}}</td>
                <td>Firstname Lastname</td>
                <td>Admin theme</td>
                <td>01/01/2015</td>
                <td>$100.00</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" class="select-row">
                </td>
                <td>{{link-to "#10003" "task"}}</td>
                <td>Name Another</td>
                <td>Personal blog theme</td>
                <td>01/01/2015</td>
                <td>$100.00</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" class="select-row">
                </td>
                <td>{{link-to "#10004" "task"}}</td>
                <td>One More</td>
                <td>Marketing theme, personal blog theme, admin theme</td>
                <td>01/01/2015</td>
                <td>$300.00</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" class="select-row">
                </td>
                <td>{{link-to "#10005" "task"}}</td>
                <td>Name Right Here</td>
                <td>Personal blog theme, admin theme</td>
                <td>01/02/2015</td>
                <td>$200.00</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" class="select-row">
                </td>
                <td>{{link-to "#10006" "task"}}</td>
                <td>First Last</td>
                <td>Admin theme, marketing theme</td>
                <td>01/01/2015</td>
                <td>$200.00</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" class="select-row">
                </td>
                <td>{{link-to "#10007" "task"}}</td>
                <td>Firstname Lastname</td>
                <td>Admin theme</td>
                <td>01/01/2015</td>
                <td>$100.00</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" class="select-row">
                </td>
                <td>{{link-to "#10008" "task"}}</td>
                <td>Name Another</td>
                <td>Personal blog theme</td>
                <td>01/01/2015</td>
                <td>$100.00</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" class="select-row">
                </td>
                <td>{{link-to "#10009" "task"}}</td>
                <td>One More</td>
                <td>Marketing theme, personal blog theme, admin theme</td>
                <td>01/01/2015</td>
                <td>$300.00</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" class="select-row">
                </td>
                <td>{{link-to "#10010" "task"}}</td>
                <td>Name Right Here</td>
                <td>Personal blog theme, admin theme</td>
                <td>01/02/2015</td>
                <td>$200.00</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" class="select-row">
                </td>
                <td>{{link-to "#10011" "task"}}</td>
                <td>First Last</td>
                <td>Admin theme, marketing theme</td>
                <td>01/01/2015</td>
                <td>$200.00</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" class="select-row">
                </td>
                <td>{{link-to "#10012" "task"}}</td>
                <td>Firstname Lastname</td>
                <td>Admin theme</td>
                <td>01/01/2015</td>
                <td>$100.00</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" class="select-row">
                </td>
                <td>{{link-to "#10013" "task"}}</td>
                <td>Name Another</td>
                <td>Personal blog theme</td>
                <td>01/01/2015</td>
                <td>$100.00</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" class="select-row">
                </td>
                <td>{{link-to "#10014" "task"}}</td>
                <td>One More</td>
                <td>Marketing theme, personal blog theme, admin theme</td>
                <td>01/01/2015</td>
                <td>$300.00</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" class="select-row">
                </td>
                <td>{{link-to "#10015" "task"}}</td>
                <td>Name Right Here</td>
                <td>Personal blog theme, admin theme</td>
                <td>01/02/2015</td>
                <td>$200.00</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" class="select-row">
                </td>
                <td>{{link-to "#10016" "task"}}</td>
                <td>First Last</td>
                <td>Admin theme, marketing theme</td>
                <td>01/01/2015</td>
                <td>$200.00</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" class="select-row">
                </td>
                <td>{{link-to "#10017" "task"}}</td>
                <td>Firstname Lastname</td>
                <td>Admin theme</td>
                <td>01/01/2015</td>
                <td>$100.00</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" class="select-row">
                </td>
                <td>{{link-to "#10018" "task"}}</td>
                <td>Name Another</td>
                <td>Personal blog theme</td>
                <td>01/01/2015</td>
                <td>$100.00</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" class="select-row">
                </td>
                <td>{{link-to "#10019" "task"}}</td>
                <td>One More</td>
                <td>Marketing theme, personal blog theme, admin theme</td>
                <td>01/01/2015</td>
                <td>$300.00</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" class="select-row">
                </td>
                <td>{{link-to "#10020" "task"}}</td>
                <td>Name Right Here</td>
                <td>Personal blog theme, admin theme</td>
                <td>01/02/2015</td>
                <td>$200.00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="hr-divider m-t m-b">
        <h3 class="hr-divider-content hr-divider-heading">Quick stats</h3>
      </div>
      <form class="form">
        <div class="form-group">
          <textarea class="form-control" rows="8"></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-success btn-block">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{outlet}}
