<div class="hr-divider m-y">
  <h3 class="hr-divider-content hr-divider-heading">Call Details</h3>
</div>
<dl>
  <dt>Call Type:</dt>
  <dd>{{model.subject}}&nbsp;</dd>
  <dt>Status:</dt>
  <dd><span class="label label-info">{{model.status}}</span>&nbsp;</dd>
  <dt>Outcome:</dt>
  <dd>{{model.outcome}}&nbsp;</dd>
  <dt>Date Due:</dt>
  <dd>{{moment-format model.dateDue}}&nbsp;</dd>
  <dt>Date Assigned:</dt>
  <dd>{{moment-format model.dateAssigned}}&nbsp;</dd>
  <dt>Date Completed:</dt>
  <dd>{{moment-format model.dateCompleted}}&nbsp;</dd>
  <dt>Client:</dt>
  <dd>{{model.contact.name}}&nbsp;</dd>
</dl>

<pre class="m-t">
{{{model.details}}}
</pre>
