<div class="container-fluid p-t">
  <div class="dashhead">
    <div class="dashhead-titles">
      <h6 class="dashhead-subtitle">
        {{link-to '<< Tasks' 'tasks'}}
      </h6>
      <h2 class="dashhead-title">Processing Tasks #{{model.reference}}</h2>
    </div>

    <div class="btn-toolbar dashhead-toolbar">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h2 class="panel-title">{{model.contact.name}}</h2>
        </div>
        <div class="panel-body">
          <dl>
            <dt>Date:</dt>
            <dd>{{and model.contact.date (moment-format model.contact.date 'MMM Do YY')}}&nbsp;</dd>
            <dt>Date Last Modified:</dt>
            <dd>{{and model.contact.dateLastModified (moment-format model.contact.date 'MMM Do YY')}}&nbsp;</dd>
            <<dt>First Name:</<dt>
            <dd>{{model.contact.firstName}}&nbsp;</dd>
            <dt>Last Name:</dt>
            <dd>{{model.contact.lastName}}&nbsp;</dd>
            <dt>Reference:</dt>
            <dd>{{model.contact.reference}} ({{model.contact.source}})</dd>
            <dt>Email:</dt>
            <dd>{{model.contact.email}}&nbsp;</dd>
            <dt>Step:</dt>
            <dd>{{model.contact.step}}&nbsp;</dd>
            <dt>L1: MTTB Coach:</dt>
            <dd>{{model.contact.l1_mttb_coach}}&nbsp;</dd>
          </dl>
          {{render '_task-activities' model}}
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      {{render '_task-details' model}}

      <div class="hr-divider m-t m-b">
        <h3 class="hr-divider-content hr-divider-heading">Quick Note</h3>
      </div>
      <form class="form" {{action "newNote" on="submit"}}>
        <div class="form-group">
         {{textarea value=noteContent class="form-control" rows="8"}}
        </div>
        <div class="form-group">
          <button class="btn btn-success btn-block" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{outlet}}
