<div class="container-fluid p-t">
  <div class="dashhead dashhead-solid">
    <div class="dashhead-titles">
      <h6 class="dashhead-subtitle">
        {{link-to '<< Tasks' (or backTo 'tasks')}}
      </h6>
      <h3 class="dashhead-title">{{model.subject}}</h3>
    </div>
    <div class="btn-toolbar dashhead-toolbar">
      {{#link-to (query-params taskStatus=model.reference) tagName='button' class='btn btn-primary'}} Complete Your Task {{/link-to}} {{#link-to (query-params step=model.contact.step) tagName='button' class='btn btn-primary'}} Change Step {{/link-to}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <ul class="nav nav-bordered m-y" role="tablist">
        <li class="active" role="presentation">
          <a href="#summary" role="tab" data-toggle="tab" aria-controls="tasks-today">Summary <span class="badge"></span></a>
        </li>
        <li role="presentation">
          <a href="#task-detail" role="tab" data-toggle="tab" aria-controls="task-detail">Task Details <span class="badge"></span></a>
        </li>
        <li role="presentation">
          <a href="#task-client" role="tab" data-toggle="tab" aria-controls="task-client">Client Detail <span class="badge"></span></a>
        </li>
        <li role="presentation">
          <a href="#task-sales" role="tab" data-toggle="tab" aria-controls="task-sales">Tasks & Sales</a>
        </li>
      </ul>
      <div class=" position-fixed">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="summary">
            {{render '-task-details' model}}
          </div>
          <div role="tabpanel" class="tab-pane" id="task-detail">
            {{render '-task-detail' model}}
          </div>
          <div role="tabpanel" class="tab-pane" id="task-client">
            {{render 'contact-details' model.contact}}
          </div>
          <div role="tabpanel" class="tab-pane" id="task-sales">
            {{render '-task-activities' model.contact}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="position-relative">
        {{render 'note-list' model.contact}}
      </div>
      <div class="position-relative">
        {{render 'note-box' model.contact}}
      </div>
    </div>
  </div>
</div>
{{outlet}}
