<div class="container-fluid p-t">
  <div class="dashhead dashhead-solid">
    <div class="dashhead-titles">
      <h6 class="dashhead-subtitle">
        {{link-to '<< Tasks' (or backTo 'tasks')}}
      </h6>
      <h3 class="dashhead-title">{{model.subject}}</h3>
    </div>
    <div class="btn-toolbar dashhead-toolbar">
      {{#link-to (query-params ref=model.id) tagName='button' class='btn btn-primary' disabled=(eq model.status "completed" 'disabled')}} Complete Your Task {{/link-to}} {{#link-to (query-params step=model.contact.step) tagName='button' class='btn btn-primary'}} Change Step {{/link-to}}
    </div>
  </div>
  <div class="row task-detail {{blink}}">
    <div class="col-sm-1">
      <p> Date Due:
        <br/> <strong>{{moment-format model.dateDue 'MMM Do YY'}}&nbsp;</strong>
      </p>
    </div>
    <div class="col-sm-4">
      <p>Subject:
        <br/> <strong>{{model.subject}}&nbsp;</strong>
      </p>
    </div>
    <div class="col-sm-2">
      <p>Client:
        <br/> <strong>{{model.contact.name}}&nbsp;</strong>
      </p>
    </div>
    <div class="col-sm-1">
      <p>Step:
        <br/> <strong>{{or model.contact.step 0}}&nbsp;</strong>
      </p>
    </div>
    <div class="col-sm-2">
      <p>Time Zone:
        <br/><strong> {{model.timeZone}}&nbsp;</strong>
      </p>
    </div>
    <div class="col-sm-2">
      <p>Status:
        <br/> <strong>{{model.status}}&nbsp;</strong>
        <br/> {{#link-to (query-params refID=model.id) disabled=(eq model.status "cancelled" 'disabled')}} Cancel Your Task {{/link-to}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <ul class="nav nav-bordered" role="tablist">
        <li class="active" role="presentation">
          <a href="#summary" role="tab" data-toggle="tab" aria-controls="summary">Summary <span class="badge"></span></a>
        </li>
        <li role="presentation">
          <a href="#task-details" role="tab" data-toggle="tab" aria-controls="task-details">Task Details <span class="badge"></span></a>
        </li>
        <li role="presentation">
          <a href="#contact-details" role="tab" data-toggle="tab" aria-controls="contact-details">Client Details <span class="badge"></span></a>
        </li>
        <li role="presentation">
          <a href="#task-activities" role="tab" data-toggle="tab" aria-controls="task-activities">Tasks</a>
        </li>
        <li role="presentation">
          <a href="#sale-activities" role="tab" data-toggle="tab" aria-controls="sale-activities">Sales</a>
        </li>
        <li role="presentation">
          <a href="#contact-tags" role="tab" data-toggle="tab" aria-controls="contact-tags">Contact Tags</a>
        </li>
      </ul>
      <div class=" position-fixed">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="summary">
            {{partial 'summary'}}
          </div>
          <div role="tabpanel" class="tab-pane" id="task-details">
            {{partial 'task-details'}}
          </div>
          <div role="tabpanel" class="tab-pane" id="contact-details">
            {{partial 'contact-details'}}
          </div>
          <div role="tabpanel" class="tab-pane" id="task-activities">
            {{partial 'contact-tasks'}}
          </div>
          <div role="tabpanel" class="tab-pane" id="sale-activities">
            {{partial 'contact-sales-orders'}}
          </div>
          <div role="tabpanel" class="tab-pane" id="contact-tags">
            {{partial 'contact-tags'}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="position-relative m-y">
        {{partial 'note-list' notes}}
      </div>
      <div class="position-relative">
        {{partial 'note-box'}}
      </div>
    </div>
  </div>
</div>
{{outlet}}
