<div class="container-fluid p-t">
  <div class="dashhead">
    <div class="dashhead-titles">
      <h6 class="dashhead-subtitle">Tasks</h6>
      <h2 class="dashhead-title">Search Tasks</h2>
    </div>
  </div>
<div class="row">
  <div class="col-md-2">
      <form class="form" {{action 'queryChanged' on="submit"}}>
        <div class="form-group">
          {{bootstrap-datepicker autoclose=true value=date_due_from format='yyyy-mm-dd' class="form-control" placeholder="due date (from)"}}
        </div>
        <div class="form-group">
          {{bootstrap-datepicker value=date_due_to format='yyyy-mm-dd' class="form-control" placeholder="due date (to)"}}
        </div>
        <div class="form-group">
          {{input type="text" value=contact class="form-control" placeholder="search contact"}}
        </div>
        <div class="form-group">
          {{input type="text" value=subject class="form-control" placeholder="search subject"}}
        </div>
        <div class="form-group">
          {{input type="text" value=step class="form-control" placeholder="search step"}}
        </div>
      </form>
  </div>
  <div class="col-md-10">
    <div class="clearfix">
      {{page-numbers content=model class="pull-right"}}
      <div class="statcard p-a m-b">
        <span class="h3 statcard-number">
          {{format-number model.meta.total-count format=",0"}}
        </span>
          <span class="statcard-desc text-mute">tasks(s)</span>
      </div>
    </div>
  <div class="table-full">
    <div class="table-responsive">
      <table class="table" data-sort="table">
        <thead>
          <tr>
            <th class="header headerSortUp">Due</th>
            <th class="header">Assigned</th>
            <th class="header">Completed</th>
            <th class="header">Subject</th>
            <th class="header">Contact</th>
            <th class="header">Step</th>
          </tr>
        </thead>
        <tbody>
          {{#unless tasks.length}}
            <div class="m-a-1">
              Your search returned no result
            </div>
            {{else}}
              {{#each tasks as |task|}}
                <tr>
                  <td>{{moment-format task.dateDue}}</td>
                  <td>{{moment-format task.dateAssigned}}</td>
                  <td>{{moment-format task.dateComplete}}</td>
                  <td>{{link-to task.subject 'task' task}}</td>
                  <td>{{task.contact.name}}</td>
                  <td>{{task.contact.step}}</td>
                </tr>
              {{/each}}
          {{/unless}}
        </tbody>
      </table>
    </div>
  </div>
  </div>
</div>
</div>
{{outlet}}
