<div class="container-fluid">
  <div class="col-md-12">
    <div class="col-md-4">
      <div class="hr-divider m-t m-b">
        <h3 class="hr-divider-content hr-divider-heading">Training Documents</h3>
      </div>
      {{partial 'training-docs'}}
    </div>
    <div class="col-md-8">
      <div class="hr-divider m-t m-b">
        <h3 class="hr-divider-content hr-divider-heading">Training Videos</h3>
      </div>
      <div class="clearfix">
        {{vimeo-training download="https://drive.google.com/open?id=0B77iiXVjGDpqZWJRUWEtMnY3VTQ"
                         vid="https://mobe.wistia.com/medias/ioh7p9iuvl" title="Watch This First (How To Use This Dashboard Correctly)"
                         time="22 Min 30 Sec" password="No Password" thumbnailUrl="img/training/ioh7p9iuvl.jpg"}}
        {{vimeo-training download="https://drive.google.com/open?id=0B77iiXVjGDpqZWJRUWEtMnY3VTQ"
                         vid="https://mobe.wistia.com/medias/n7onrc7qpy" title="Step 0 Coach Training"
                         time="1 Hour 7 Min 30 Sec" password="MOBETRAINING" thumbnailUrl="img/training/187478364.jpg"}}
        {{vimeo-training download="https://drive.google.com/open?id=0B77iiXVjGDpqWjNIU3h0cnNGTkk"
                         vid="https://mobe.wistia.com/medias/xqe6ze3nb6" title="Step 1 and 2 Coach Training"
                         time="55 Min 59 Sec" password="MOBETRAINING" thumbnailUrl="img/training/187499041.jpg"}}

      </div>
      <div class="clearfix">
        {{vimeo-training download="https://drive.google.com/open?id=0B77iiXVjGDpqM2lQcWxrODYyZ2M"
                         vid="https://mobe.wistia.com/medias/37xujj1xzp" title="Step 3 and 4 Coach Training"
                         time="56 Min 37 Sec" password="MOBETRAINING" thumbnailUrl="img/training/187500822.jpg"}}
        {{vimeo-training download="https://drive.google.com/open?id=0B77iiXVjGDpqRUxpbDMtZnlrNkE"
                         vid="https://mobe.wistia.com/medias/6m4i358tem" title="Step 5 Coach Training"
                         time="0 Hour 0 Min 0 Sec" password="MOBETRAINING" thumbnailUrl="img/training/187543744.jpg"}}
        {{vimeo-training download="https://drive.google.com/open?id=0B77iiXVjGDpqamVjbTNweEtUZnc"
                         vid="https://mobe.wistia.com/medias/i5x041872z" title="Step 6 Coach Training"
                         time="58 Min 37 Sec" password="MOBETRAINING" thumbnailUrl="img/training/187741415.jpg"}}
      </div>
      <div class="clearfix">
        {{vimeo-training download="https://drive.google.com/open?id=0B77iiXVjGDpqY1A0SDk2RExRMVU"
                         vid="https://mobe.wistia.com/medias/0at49aea0e" title="Step 7 Coach Training"
                         time="1 Hour 3 Min 07 Sec" password="MOBETRAINING" thumbnailUrl="img/training/187744002.jpg"}}
        {{vimeo-training download="https://drive.google.com/open?id=0B77iiXVjGDpqOTVCa2N4M0g1Wms"
                         vid="https://mobe.wistia.com/medias/a6h8xd2p5i" title="Step 8 Coach Training"
                         time="1 Hour 27 Min 39 Sec" password="MOBETRAINING" thumbnailUrl="img/training/187748200.jpg"}}
        {{vimeo-training download="https://drive.google.com/open?id=0B77iiXVjGDpqVmxIYTFrMFFnTnc"
                         vid="https://mobe.wistia.com/medias/p23zmmw86y"
                         title="Objections and Frame Training – Handle the questions that come up " time="48 Min 55 Sec"
                         password="MOBETRAINING" thumbnailUrl="img/training/187817857.jpg"}}

      </div>
      <div class="clearfix">
        {{vimeo-training download="https://drive.google.com/open?id=0B77iiXVjGDpqRGM1blYtTEFTSnM"
                         vid="https://mobe.wistia.com/medias/9cqk6dq47z"
                         title="Senior Transfer Coach Training – Transferring you leads once they buy Silver and Gold"
                         time="46 Min 18 Sec" password="MOBETRAINING" thumbnailUrl="img/training/188797406.jpg"}}
      </div>
    </div>

  </div>
</div>
{{outlet}}
