<div class="container-fluid">
  <div class="col-md-12">
    <div class="hr-divider m-t m-b">
      <h3 class="hr-divider-content hr-divider-heading">Training Videos</h3>
    </div>
    <div class="row">
      {{vimeo-training vid="187478364" title="Step 0 Coach Training" time="1 Hour 7 Min 30 Sec" password="MOBETRAINING" thumbnailUrl="img/training/187478364.jpg"}}
      {{vimeo-training vid="187499041" title="Step 1 and 2 Coach Training" time="55 Min 59 Sec" password="MOBETRAINING" thumbnailUrl="img/training/187499041.jpg"}}
      {{vimeo-training vid="187500822" title="Step 3 and 4 Coach Training" time="56 Min 37 Sec" password="MOBETRAINING" thumbnailUrl="img/training/187500822.jpg"}}
      {{vimeo-training vid="187543744" title="Step 5 Coach Training" time="0 Hour 0 Min 0 Sec" password="MOBETRAINING" thumbnailUrl="img/training/187543744.jpg"}}
    </div>
    <div class="row">
      {{vimeo-training vid="187741415" title="Step 6 Coach Training" time="58 Min 37 Sec" password="MOBETRAINING" thumbnailUrl="img/training/187741415.jpg"}}
      {{vimeo-training vid="187744002" title="Step 7 Coach Training" time="1 Hour 3 Min 07 Sec" password="MOBETRAINING" thumbnailUrl="img/training/187744002.jpg"}}
      {{vimeo-training vid="187748200" title="Step 8 Coach Training" time="1 Hour 27 Min 39 Sec" password="MOBETRAINING" thumbnailUrl="img/training/187748200.jpg"}}
      {{vimeo-training vid="187817857" title="Objections and Frame Training – Handle the questions that come up " time="48 Min 55 Sec" password="MOBETRAINING" thumbnailUrl="img/training/187817857.jpg"}}
    </div>
    <div class="row">
      {{vimeo-training vid="188797406" title="Senior Transfer Coach Training – Transferring you leads once they buy Silver and Gold" time="46 Min 18 Sec" password="MOBETRAINING" thumbnailUrl="img/training/188797406.jpg"}}
      {{download-training download=" https://drive.google.com/open?id=0B77iiXVjGDpqZWJRUWEtMnY3VTQ" title="Training Document" time="Reading Only" password="No password" thumbnailUrl="img/training/187744002.jpg"}}
    </div>
  </div>
</div>
{{outlet}}
